html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Montserrat', serif;
  background-color: #0a0a0a !important;
  line-height: 2;
}

[aria-current] {
  color: #fff !important;
}

a:hover {
  color: #fff !important;
}

nav {
  padding: .5rem 1rem;
  position: fixed;
  z-index: 999;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Montserrat', serif;
}

.container-fluid {
  height: 3.2rem;
}

.navbar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg-dark {
  background-color: #0a0a0a !important;
}

.navbar-dark .navbar-toggler {
  color: #ffffff8c;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

button:focus:not(:focus-visible) {
  outline: none;
}

.navbar-toggler {
  height: 3.5rem;
  width: 2rem;
  margin-right: 1em;
  margin-left: auto;
}

#navbarTogglerDemo02 {
  z-index: 999;
  position: fixed;
  top: 10%;
  left: 0;
  background-color: #0a0a0a !important;
  padding: 90px 0;
  width: 100%;
  height: 90vh;
  text-align: center;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show > .nav-link {
  color: #a5a5a8;
}

#mobile {
  display: block;
}

.toggle-links {
  margin-top: 1em;
}

a {
  text-decoration: none;
  color: #d8d6d6;
  padding-left: .5em;
}

a:hover, a:active {
  color: #fff !important;
  -webkit-transition: all 0.9s ease 0s;
  transition: all 0.9s ease 0s;
}

h4 {
  font-family: 'Montserrat', serif;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #646468;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

#hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

#hamburger.active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
  background-color: #fff;
}

#hamburger.active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
  background-color: #fff;
}

#desktop {
  display: none;
}

@media (min-width: 992px) {
  .me-auto {
    margin-right: 0 !important;
  }
  div#links li {
    float: left;
    padding: 0 .5rem;
  }
  .navbar {
    -webkit-box-align: unset !important;
        -ms-flex-align: unset !important;
            align-items: unset !important;
  }
  #navbarTogglerDemo02 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    top: 0;
    padding: 0;
    height: 0;
  }
  #navbarTogglerDemo02 ul {
    float: left;
    padding: 0 10px;
  }
  .toggle-links {
    display: none !important;
  }
  div#links li.nav-item a.long-width::before {
    width: 0;
  }
  div#links li.nav-item a.long-width:hover::before {
    width: 70px !important;
  }
  div#links li.nav-item a::before {
    content: '';
    position: absolute;
    top: 30px;
    width: 0;
    height: 2.2px;
    background: #fff;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  div#links li.nav-item a:hover::before {
    width: 54px;
  }
}

.contact-links {
  text-align: center;
  position: relative;
  padding: 0 0 1.5rem;
}

.contact-links a {
  padding-left: .5rem;
}

.home-page nav {
  position: fixed;
}

.home-page .top-container {
  background-image: url(./Images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #444444;
  background-blend-mode: multiply;
  color: whitesmoke;
  line-height: 0.5;
  text-align: center;
  position: relative;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 1rem;
}

@media (max-width: 767px) {
  .home-page .top-container .text {
    margin: 35% 0 0;
  }
}

.home-page .top-container span {
  font-size: 1em;
  color: #fff;
}

.home-page .top-container h2 {
  font-size: 1.5em;
  font-weight: normal;
}

.home-page .top-container h4 {
  color: #a5a5a8;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
  word-spacing: 2px;
}

@media (max-width: 360px) {
  .home-page .top-container .home-page h3 {
    font-size: calc(1.1rem + .6vw);
  }
}

.home-page .top-container .buttons {
  margin-top: 3em;
  text-align: center;
}

.home-page .top-container .buttons button {
  border: none;
  padding: .5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: .5em auto .5em;
  width: 40%;
  font-weight: 500;
  background: #16161a;
  color: #fff;
  display: block;
}

.home-page .top-container .buttons button:hover {
  background-color: #505052;
  -webkit-transition: all 0.9s ease 0s;
  transition: all 0.9s ease 0s;
}

.home-page .top-container .arrow {
  margin-top: 3em;
  -webkit-animation: bounce 2s infinite;
          animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

.home-page .top-container #About {
  display: none;
}

.home-page #about-me {
  color: #a5a5a8;
  background-color: #0a0a0a !important;
  padding: 1rem 0;
  text-align: left;
  width: 90%;
  margin-inline: auto;
}

.home-page #about-me h1 {
  text-align: center !important;
  padding-bottom: 2rem;
  text-transform: uppercase;
  margin-top: 2em;
}

.home-page #about-me .about-sections {
  display: -ms-grid;
  display: grid;
  width: 95%;
  margin: 0 auto;
  font-size: 1.05em;
}

.home-page #about-me .about-sections div.skill {
  margin-top: 1em;
}

.home-page #about-me .about-sections h1, .home-page #about-me .about-sections h5 {
  font-weight: bolder;
}

.home-page #about-me .about-sections h5 {
  font-size: 1.45rem;
  color: #fff;
  opacity: .7;
}

.home-page #about-me .about-sections h6 {
  font-size: 1rem;
}

.home-page #about-me .about-sections h3 span {
  color: whitesmoke;
  font-size: calc(1.3rem + .6vw);
}

.home-page #about-me .about-sections .p, .home-page #about-me .about-sections h6 {
  margin-left: 1em;
}

@media (min-width: 300px) and (max-width: 399px) and (max-height: 600px) {
  .home-page .text {
    margin: 50% auto 0 !important;
  }
  .home-page #about-me {
    margin-top: 3em;
  }
  .home-page .contact-links {
    text-align: center;
  }
}

@media (min-width: 360px) and (max-width: 500px) and (min-height: 700px) and (max-height: 900px) {
  .home-page #navbarTogglerDemo02 {
    position: fixed;
    top: 8% !important;
  }
}

@media (min-width: 400px) and (max-width: 499px) {
  .home-page .text {
    margin: 45% auto 5% !important;
  }
  .home-page #about-me {
    margin-top: 3.5em;
  }
  .home-page .contact-links {
    text-align: center;
  }
}

@media (min-width: 500px) and (max-width: 759px) {
  .home-page .text {
    margin: 28% auto 28% 2% !important;
    text-align: left;
    width: 70%;
  }
  .home-page .contact-links {
    text-align: center;
  }
  .home-page .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 70%;
    margin: 1.5rem auto 1.5rem 0;
  }
  .home-page .buttons button {
    width: 40%;
  }
}

@media (min-width: 760px) and (max-width: 991px) {
  .home-page .top-container .text {
    width: 65% !important;
    margin: 20% 5% 20% !important;
    text-align: left;
  }
  .home-page .top-container .arrow {
    margin-top: -9em;
  }
  .home-page .top-container .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: 1.5rem 0;
  }
  .home-page .top-container .buttons button {
    width: 40%;
  }
  .home-page .top-container .contact-links {
    text-align: center !important;
  }
}

@media (min-width: 760px) and (max-width: 770px) and (min-height: 1000px) {
  .home-page #navbarTogglerDemo02 {
    top: 6.2%;
  }
  .home-page .top-container {
    height: 70vh;
  }
  .home-page .top-container .text {
    width: 70% !important;
  }
  .home-page .top-container h2 {
    font-size: 2em;
  }
  .home-page .top-container h4 {
    font-size: 1.4em;
  }
}

@media (min-width: 768px) {
  .home-page .left {
    width: 30em;
    margin-inline: auto;
  }
  .home-page .right {
    width: 30em;
    margin-inline: auto;
  }
}

@media (min-width: 992px) {
  .home-page {
    /* Main content */
  }
  .home-page #desktop {
    display: block !important;
  }
  .home-page #mobile {
    display: none !important;
  }
  .home-page .me-auto {
    margin-right: 0 !important;
  }
  .home-page div#links li {
    float: left;
    padding: 0 .5rem;
  }
  .home-page .navbar {
    -webkit-box-align: unset !important;
        -ms-flex-align: unset !important;
            align-items: unset !important;
  }
  .home-page #navbarTogglerDemo02 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    top: 0;
    padding: 0;
    height: 0;
  }
  .home-page #navbarTogglerDemo02 ul {
    float: left;
    padding: 0 10px;
  }
  .home-page .toggle-links {
    display: none;
  }
  .home-page .top-container {
    background-position: left;
    line-height: 1.5;
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 1rem;
  }
  .home-page .text {
    width: 55%;
    margin: 15% 5% 0;
    text-align: left;
  }
  .home-page h2 {
    font-size: 2.3em !important;
  }
  .home-page h4 {
    font-size: 1.3em !important;
  }
  .home-page svg {
    margin-right: .6em;
  }
  .home-page .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    width: 80%;
    margin: 1.5rem 0;
  }
  .home-page .buttons button {
    margin: .5em auto .5em 0 !important;
    width: 38%;
  }
  .home-page .about-sections {
    display: -ms-grid;
    display: grid;
    grid-gap: 30px;
        grid-template-areas: "left content";
    width: 100%;
    margin-top: 2em !important;
  }
  .home-page .about-sections div.skill {
    margin-top: 0 !important;
  }
  .home-page .about-sections .left {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: left;
  }
  .home-page .about-sections .right {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: content;
  }
  .home-page .contact-links {
    text-align: center !important;
    padding-bottom: 1.5rem;
  }
}

@media (min-width: 1600px) {
  .home-page .top-container .text h2 {
    font-size: 4.5em !important;
  }
  .home-page .top-container .text h4 {
    font-size: 2.6em !important;
  }
  .home-page .top-container svg.arrow {
    margin-top: 7em;
  }
}

.portfolio {
  font-family: 'Montserrat', serif;
  background-color: #000 !important;
}

.portfolio .bg-dark {
  background-color: #000 !important;
}

.portfolio main {
  background-image: url("./Images/portfolio-bg.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 2rem 1rem 1rem;
}

.portfolio main .subTitle {
  width: 95%;
  margin-inline: auto;
}

.portfolio main h1 {
  font-size: 40px;
  text-align: center;
  margin: .6em auto;
  overflow-x: hidden;
}

.portfolio main h1,
.portfolio main h5 {
  opacity: .9;
  font-weight: bold;
}

.portfolio main h1,
.portfolio main h5,
.portfolio main p {
  color: #fff !important;
}

.portfolio main p, .portfolio main svg {
  opacity: .8;
}

.portfolio main .square {
  width: 90%;
  margin: 0 auto 2.5em;
}

.portfolio main .square img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin-inline: -.5em;
}

.portfolio main .square .info {
  height: 60%;
  width: 100%;
  background: #111111;
  padding: .5rem .8rem;
  -webkit-box-shadow: 4px 4px 8px #111111;
          box-shadow: 4px 4px 8px #111111;
}

.portfolio main .square .info p {
  margin-bottom: 0;
}

.portfolio main .square .info p.title {
  font-weight: 900;
  font-size: 1.2em;
}

.portfolio main .square .info div.links {
  width: 5.5em;
  -webkit-margin-start: auto;
          margin-inline-start: auto;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
}

.portfolio main .square .info svg {
  margin-right: .6em;
}

.portfolio footer {
  background: #000 !important;
  padding-top: 1rem;
}

@media (min-width: 600px) {
  .portfolio main .subTitle {
    width: 90%;
  }
  .portfolio main .square {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .portfolio main section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    width: 95%;
    margin: 0 auto;
    z-index: 999;
  }
  .portfolio main section div.square {
    width: 20em;
    margin: 2em auto;
  }
  .portfolio main section img {
    margin: 0;
    -webkit-filter: unset;
            filter: unset;
  }
  .portfolio main h1 {
    font-size: 50px;
    margin: 0 auto .6em;
  }
}

@media (min-width: 1000px) {
  .portfolio main section {
    width: 90%;
  }
  .portfolio main .subTitle h5 {
    font-size: 1.5rem !important;
  }
  .portfolio main .subTitle p {
    font-size: 1.2rem !important;
  }
}

@media (min-width: 1100px) {
  .portfolio main section {
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
  }
}

.about {
  background-color: #0a0a0a !important;
  overflow-y: scroll;
  overflow-x: hidden;
}

.about a {
  text-decoration: none;
}

.about #about-me {
  color: #a5a5a8;
  background-color: #0a0a0a !important;
  padding: 1rem 0;
  text-align: left;
  width: 90%;
  margin-inline: auto;
}

.about #about-me h1 {
  text-align: center !important;
  padding-bottom: 2rem;
  text-transform: uppercase;
  margin-top: 2em;
}

.about #about-me .about-sections {
  display: -ms-grid;
  display: grid;
  width: 95%;
  margin: 0 auto;
}

.about #about-me .about-sections div.skill {
  margin-top: 1em;
}

.about #about-me .about-sections h1, .about #about-me .about-sections h5 {
  font-weight: bolder;
}

.about #about-me .about-sections h5 {
  font-size: 1.45rem;
}

.about #about-me .about-sections h6 {
  font-size: 1.05rem;
}

.about #about-me .about-sections h3 span {
  color: whitesmoke;
  font-size: calc(1.3rem + .6vw);
}

.about #about-me .about-sections .p, .about #about-me .about-sections h6 {
  margin-left: 1em;
}

.about #links {
  text-align: center;
  position: relative;
  padding: 0 0 1.5rem;
}

@media (min-width: 768px) {
  .about .left {
    width: 30em;
    margin-inline: auto;
  }
  .about .right {
    width: 30em;
    margin-inline: auto;
  }
}

@media (min-width: 992px) {
  .about .about-sections {
    display: -ms-grid;
    display: grid;
    grid-gap: 30px;
        grid-template-areas: "left content";
    width: 100%;
    margin-top: 2em !important;
  }
  .about .about-sections div.skill {
    margin-top: 0 !important;
  }
  .about .about-sections .left {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: left;
  }
  .about .about-sections .right {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: content;
  }
}

@media (max-width: 1000px) {
  .about #about-me h1 {
    margin-top: 0;
  }
}

@media (min-width: 1000px) {
  .about #about-me h1 {
    margin-top: 1.2em;
  }
}

@media (min-width: 1300px) {
  .about #about-me h1 {
    margin-top: 1.2em;
  }
}

.contact {
  background-color: #0a0a0a !important;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  /*main content */
}

.contact #title {
  display: block;
  padding-top: 5rem;
  padding-left: 2rem;
  max-width: 900px;
  margin: 0 auto;
}

.contact #title h1.title {
  text-align: left;
  padding: 0 1rem .1rem 0;
  font-size: 36px;
  color: #e5e6e6 !important;
  text-shadow: 2px 0 0 #49574f;
}

.contact #title hr {
  background-color: #fff;
  height: .14rem;
  width: 2.6rem;
  display: inline-block;
  margin-right: .2em;
}

.contact #title h1#project {
  color: #a5a5a8 !important;
  margin-left: .5em;
  opacity: .6;
  margin-top: -.4em;
}

.contact .container {
  padding: 29px;
  color: #747577;
}

.contact .container p {
  font-size: 19px;
  line-height: 1.5;
  font-weight: normal;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  color: #a5a5a8;
  margin: 1em 0;
}

.contact .container p.subText {
  margin-left: 1em;
}

.contact .container form {
  margin-top: 2em;
}

.contact .container .form-control {
  background-color: #0a0a0a !important;
  border: none;
  border-bottom: 2px solid #646468;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #a5a5a8;
}

.contact .container textarea {
  border-radius: 5px;
}

.contact .container input {
  padding-top: 1rem;
  padding-bottom: .5rem;
  margin-bottom: 1.4em;
  color: #a5a5a8;
}

.contact .container button#send {
  background: #646468;
  border: none;
  color: #fff;
  width: 6rem;
  padding: .5rem 0;
  border-radius: 10px;
  margin-top: 2em;
  margin-bottom: .5em;
}

.contact .container button#send:hover, .contact .container button#send:active {
  background: #505052;
  -webkit-transition: all 0.9s ease 0s;
  transition: all 0.9s ease 0s;
}

.contact .container #left {
  display: none;
}

.contact .container .forDesktop {
  display: none;
}

.contact .container .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 15rem;
  margin: 1em auto;
  padding-bottom: 1rem;
}

@media (min-width: 600px) {
  .contact #title {
    padding-left: 3rem;
  }
  .contact #title h1.title {
    font-size: 40px;
  }
  .contact h1#project {
    font-size: 45px !important;
    margin-left: 1.5em;
  }
  .contact hr {
    width: 3.8rem !important;
    margin-left: 1em;
    width: 4rem;
  }
  .contact button#send {
    width: 10rem;
  }
}

@media (min-width: 760px) and (max-width: 991px) {
  .contact #title h1#project {
    margin-left: 3em;
  }
  .contact form {
    width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .contact body {
    overflow-x: hidden;
    background: #bebdbd;
  }
  .contact #title {
    padding-left: 1.2rem;
    max-width: 960px;
  }
  .contact #title h1#getInTouch {
    font-size: 45px;
  }
  .contact #title h1#project {
    font-size: 55px !important;
  }
  .contact hr {
    width: 6rem !important;
    margin-left: 5em;
    width: 4rem;
  }
}

@media (min-width: 992px) and (min-width: 1200px) {
  .contact #title {
    max-width: 1120px;
  }
  .contact #title h1#getInTouch {
    font-size: 70px;
  }
  .contact #title h1#project {
    font-size: 70px !important;
  }
  .contact hr {
    width: 6rem !important;
    margin-left: 5em;
    width: 4rem;
  }
}

@media (min-width: 992px) {
  .contact .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    height: 100vh;
  }
}

@media (min-width: 992px) and (min-width: 1400px) {
  .contact .container,
  .contact .container-lg,
  .contact .container-md,
  .contact .container-sm,
  .contact .container-xl,
  .contact .container-xxl {
    max-width: 1120px;
  }
}

@media (min-width: 992px) {
  .contact .contentt-left {
    position: relative;
    width: 50%;
    margin: 0 0 0 1em;
    padding: 1rem 2rem;
  }
  .contact .left {
    width: 100%;
  }
  .contact p.subText {
    margin-left: 0;
  }
}

@media (min-width: 992px) and (min-width: 1033px) {
  .contact .left {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .contact .contentt-right {
    width: 35%;
    margin: 0 auto;
  }
  .contact .contentt-right p {
    margin-top: 2em;
  }
  .contact .forDesktop {
    display: block !important;
  }
  .contact .footer-links {
    width: 16rem;
    margin: 2em auto 1em;
  }
}
/*# sourceMappingURL=style.css.map */