$navBackground:#181818!important;
$toggleColor:#ffffff8c;
$toggleBackground:#181818;
$linkColor:#646468;
$aColor:rgb(216, 214, 214);
$aColorHover:rgb(163, 159, 159);
$mainBackground:#444444;
$mainTextColor:whitesmoke;
$bottomTextColor:#676768;
$h4Color:#676768;
$CV:#16161a;
$cvColor:#fff;
$cvHover:#505052;
$scrollBackground: #101;


.home-page{
        margin: 0;
        overflow-y: hidden;
        overflow-x: hidden;
        font-family: 'Montserrat', sans-serif;

    /* nav-area */
    .home-page-top{
        height: 85vh;
        width: 100%;
    }
    nav{
        padding: 1em 1em ;
    }
    .container-fluid{
        height: 3.2rem;
    }
    #logo{
        width: 5rem;
        margin-left: -1.5em;
    }
    .bg-dark {
        background-color: $navBackground;
    }
    .navbar-dark .navbar-toggler {
        color: $toggleColor;
        border:none ;
        box-shadow: none;
    }
    button:focus:not(:focus-visible){
        outline: none;
      }
      .navbar-toggler{
        height: 3.5rem;
      }
      
      .navbar-toggler-icon{
        height: 2.5rem;
        width:2.5rem;
      }
      #navbarTogglerDemo02{
        z-index: 999;
        position: fixed;
        top: 10%;
        left: 0;
        background-color:$toggleBackground;
        padding: 90px 0;
        width: 100%;
        height: 90vh;
        text-align: center;
      }
      .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
        color: $linkColor;
      }
      .toggle-links{
        margin-top: 3em;
      }
      .menu{
        display: none;
      }
      a{
        text-decoration: none;
        color:  $aColor;
        padding-left: .5em;
        &:hover{
            color:$aColorHover;
        }
    }
}
     
.home-page .top-container{
        background-image: url(./Images/background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: $mainBackground;
        background-blend-mode:multiply; 
        color:  $mainTextColor;
        line-height:0.5;
        text-align: center;
        position: absolute;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100vh;
        padding: 1rem; 
      }
      .home-page .text{
        width: 100%;
        margin: 45% 0 0;
        transition: 0.5s;
      }
      
      .home-page span{
        font-size: 18px;
        color: $cvColor;
      }
      .home-page h2{
        font-size: 1.5em;
        font-family: 'Montserrat', serif;
        font-weight: normal;
      }
      
      .home-page h4{
        color: $h4Color;
        font-size: 18px;
        font-weight: normal;
        font-family: 'Montserrat', serif;
      }
      @media (max-width:360px){
        .home-page h3{
          font-size: calc(1.1rem + .6vw);
        }
      }
      .home-page #CV{
        border: none;
        border-radius: 20px;
        padding: .5rem  1rem 0;
        margin-top: 1em;
        background: $CV;
        color: $cvColor;
        text-align: center;
        &:hover{
            background: $cvHover;
            font-size: 17px;
        }
    }
    .home-page .contact-links{
        text-align: left;
        margin-top: 9em;
      }
      

@media (min-width:300px) and (max-width:399px) and (max-height: 600px) {
    .home-page .text{
      margin: 23% auto!important;
    }
    .home-page .contact-links{
      text-align: center;
    }
   }
   @media (min-width:360px) and (max-width:399px) and (min-height: 700px) and (max-height:800px) {
    .home-page .contact-links{
      text-align: center;
    }
   }
   @media (min-width:400px) and (max-width:499px) {
    .home-page .text{
      margin: 30% auto!important;
    }
    .home-page .contact-links{
      text-align: center;
    }
   }
   @media (min-width:500px) and (max-width:759px) {
    .home-page .menu{
      display: none;
    }
    .home-page .text{
      margin: 18% auto!important;
    }
    .home-page .contact-links{
      text-align: center;
    }
   }
   
   @media (min-width:760px) and (max-width:991px) {
    .home-page #btn{
      display:none;
    }
    .home-page .menu{
      margin-top: -3em;
      width: 100%;
      display: flex!important;
      flex-wrap: wrap;
      justify-content: flex-end;
      margin-left: 7em;
    }
    .home-page .menu a{
      display: inline-block;
      font-size: 20px;
    }
    
    .home-page .text{
      width: 60%;
      margin: 17% 5%;
      text-align: left;
    }
   }
  
   @media (min-width:800px) and (max-width:970px) {
    .home-page #logo{
     width: 5rem;
     margin-left: -1.5em;
   }
    }
  
  @media (min-width:992px) {
    .home-page .top{
       height: 86vh;
       width: 100%;
     }
     .home-page #logo{
      width: 6rem;
    }
    .home-page .navbar-toggler{
      display: none;
    }
    .home-page.drop{
      display: none;
    }
    .home-page #navbarTogglerDemo02{
      display: none!important;
    }
    .home-page .contact-links{
      text-align: left;
      position: relative;
    }
    .home-page .menu{
      width: 100%;
      display: flex!important;
      justify-content: space-around;
    }
    .home-page .menu a{
      display: inline-block;
      font-size: 20px;
      text-transform: uppercase!important;
    }
    .home-page a:hover{
    color:rgb(163, 159, 159);
    font-size: 21px;
    }
    
  
    /* Main content */
    .home-page .top-container{
      background-position: left;
      line-height:0.5;
      position: absolute;
      left: 0;
      width: 100%;
      height: 90vh;
      padding: 1rem;
      
    }
    .home-page .text{
      width: 50%;
      margin: 11% 5%;
      text-align: left;
    }
    .home-page h2{
      font-size: 35px;
     }
    
     .home-page h4{
      font-size: 22px;
    }
    .home-page span{
        font-size: 22px;
    }
    .home-page svg{
      margin-right: .6em;
    }
    
    .home-page footer.footer{
      height: 17vh;
      opacity: 0.8;
    }
    
  }
  
    @media (min-width:1400px) {
        .home-page .navbar{
        padding-top: 2em;
        padding-bottom: 4em;
      }
    }

    // Contact section
.contact{
    margin: 0; 
    overflow-x: hidden;
    overflow-y: scroll;         
    font-family: 'Noto Sans JP', sans-serif;
  ::-webkit-scrollbar{ 
    width:10px;
  }
  ::-webkit-scrollbar-track{ 
      border-radius: 10px;
    }
  ::-webkit-scrollbar-thumb{ 
      background: $scrollBackground;
    }
  .top{ 
      width: 100%;
    } 
   nav{ 
        padding: .5em 1em ; 
        width: 100%; 
     } 
   .container-fluid{ 
        height: 3.2rem;
    }
    #logo{
        width: 5rem;
        margin-left: -1em;
      }
    .navbar-light .navbar-toggler{
        border: none!important;
        color:transparent;
      }
    button:focus:not(:focus-visible){
        outline: none;
      }
    .navbar-toggler{
        height: 3.5rem;
        border: none;
      }
      .navbar-toggler-icon{
        height: 2.5rem;
        width:2.5rem;
        color: $scrollBackground;
      }
      #navbarTogglerDemo02{
          z-index: 999;
        position: fixed;
        top: 11%;
        left: 0;
        background-color:  white ;
        padding: 1rem;
        width: 100%;
        height: 100vh;
        text-align: center;
        text-transform: uppercase;
      }
      .navbar-nav{
          padding: 5rem 0;
      }
      .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
        color:  rgb(26, 25, 25);
        font-weight: 700;
      }
      .nav-link{
        padding: .5rem 1rem;
      }
      .nav-item{
          padding-bottom: 1rem ;
      }
      .menu{
        display: none;
      }
      a{
        text-decoration: none;
        color:  rgb(26, 25, 25);
      }
      .menu a{
        padding-left: .5em;
        font-weight: bolder;
      }
      .menu a:hover{
        color:rgb(63, 61, 61);
      }
       /*main content */
    .container{
        padding: 29px;
       }
        h1{
            text-align: center;
            padding:0 1rem .1rem .6rem;
            font-size:28px; 
            color: #08080e;
        }
        p{
            font-size: 17px;
            line-height: 1.5;
            font-weight: normal;
            opacity: .8;
            font-family: 'Segoe UI', Tahoma, sans-serif;
        }
        textarea{
            border-radius: 10px;
        }
        span{
            color: #10101a;
          }
        label{
            padding-top: .5em;
            padding-bottom: .5em;
            color: #7f7f81;
          }
        button[type=submit]:hover{
            background: #10101a;
          }
        #right{
            display: none;
          }
        .footer-links{
            display: flex;
            justify-content: space-between;
            width: 15rem;
            margin:1.5em auto;
            padding-bottom: 1rem;
          }
          
          @media (min-width:760px) and (max-width:991px) {
            .navbar-toggler{
              display:none;
            }
            .menu{
              margin-top: -3em;
              width: 100%;
              display: flex;
              flex-wrap: wrap;
              justify-content: flex-end;
              margin-left: 7em;
            }
            .menu a{
              font-size: 18px;
              text-transform: uppercase;
            }
            form{
              width: 90%;
              margin: 0 auto;
            }
          }
          @media (min-width:992px) {
            body{
              overflow-x: hidden;
            }
            .top{
              height: 100vh;
            } 
            #logo{
              width: 6rem;
            }
            .navbar-toggler{
              display: none;
            }
            #navbarTogglerDemo02{
              display: none!important;
            }
            .drop{
              display: none;
            }
            .menu{
              width: 100%;
              display: flex;
              justify-content: space-around;
            }
            .menu a{
              display: inline-block;
              font-size: 20px;
              text-transform: uppercase;
            }
            .menu a:hover{
              color:#101;
              font-size: 21px;
            }
            .menu a:active{
              text-decoration: underline;
            }
            .container{
                display: flex;
                justify-content: space-between;
                padding: 0;
                margin: 0 -5em 0 0;
                height: 100vh;
              }
            .contentt-left{
                background-image: url('./Images/contact.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 50% 30%;
                width: 60%;
                height: 110%;
              } 
              .contentt-right{
                position: relative;
                width: 40%;
                margin: 0 0 0 1em;
                padding: 1rem 2rem ;
              }
              .right{
                  width: 110%;
              }
              @media (min-width:1033px){
                .right{
                    width: 125%;
                }
              }
            
              
        }
          
        
            
}

