html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #646468;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

#hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

#hamburger.active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
  background-color: #fff;
}

#hamburger.active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
  background-color: #fff;
}

#desktop {
  display: none;
}

.home-page {
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  background-color: #0a0a0a !important;
  line-height: 2;
}

.home-page nav {
  padding: .5rem 1rem;
  position: fixed;
  z-index: 999;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-page .container-fluid {
  height: 3.2rem;
}

.home-page .navbar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-page .bg-dark {
  background-color: #0a0a0a !important;
}

.home-page .navbar-dark .navbar-toggler {
  color: #ffffff8c;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.home-page button:focus:not(:focus-visible) {
  outline: none;
}

.home-page .navbar-toggler {
  height: 3.5rem;
  width: 2rem;
  margin-right: 1em;
  margin-left: auto;
}

.home-page #navbarTogglerDemo02 {
  z-index: 999;
  position: fixed;
  top: 10%;
  left: 0;
  background-color: #0a0a0a !important;
  padding: 90px 0;
  width: 100%;
  height: 90vh;
  text-align: center;
}

.home-page .navbar-dark .navbar-nav .nav-link.active,
.home-page .navbar-dark .navbar-nav .show > .nav-link {
  color: #646468;
}

.home-page #mobile {
  display: block;
}

.home-page .toggle-links {
  margin-top: 1em;
}

.home-page a {
  text-decoration: none;
  color: #d8d6d6;
  padding-left: .5em;
}

.home-page a:hover {
  color: #fff !important;
}

.home-page a:active {
  color: #fff !important;
}

.home-page .top-container {
  background-image: url(./Images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #444444;
  background-blend-mode: multiply;
  color: whitesmoke;
  line-height: 0.5;
  text-align: center;
  position: relative;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 90vh;
  padding: 1rem;
}

@media (max-width: 767px) {
  .home-page .top-container .text {
    margin: 45% 0 0;
  }
}

.home-page .top-container .home-page span {
  font-size: 18px;
  color: #fff;
}

.home-page .top-container .home-page h2 {
  font-size: 1.5em;
  font-family: 'Montserrat', serif;
  font-weight: normal;
  position: relative;
}

.home-page .top-container h4 {
  color: #8c8c8f;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Montserrat', serif;
  line-height: 1.4;
  word-spacing: 2px;
}

@media (max-width: 360px) {
  .home-page .top-container .home-page h3 {
    font-size: calc(1.1rem + .6vw);
  }
}

.home-page .top-container .buttons {
  margin-top: 3em;
  text-align: center;
}

.home-page .top-container .buttons button {
  border: none;
  padding: .5rem;
  margin: .5em auto .5em;
  width: 40%;
  font-weight: 500;
  background: #16161a;
  color: #fff;
  display: block;
}

.home-page .top-container .buttons button:hover {
  background-color: #505052;
}

.home-page .top-container .arrow {
  margin-top: 3em;
  -webkit-animation: bounce 2s infinite;
          animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

.home-page .top-container span {
  color: #fff;
}

.home-page .top-container #About {
  display: none;
}

#about-me {
  color: #676768;
  background-color: #0a0a0a;
  padding: 1rem;
}

#about-me h1 {
  text-align: center !important;
  padding-bottom: 2rem;
  text-transform: uppercase;
  margin-top: 2em;
}

#about-me .left img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  margin: 1em auto 1em;
}

#about-me .about-sections {
  display: -ms-grid;
  display: grid;
  width: 95%;
  margin: 0 auto;
}

#about-me .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 2rem;
}

#about-me h1, #about-me h5 {
  font-weight: bolder;
}

#about-me h3 span {
  color: whitesmoke;
  font-size: calc(1.3rem + .6vw);
}

#about-me .p, #about-me h6 {
  margin-left: 1rem;
}

.contact-links {
  text-align: center;
  position: relative;
  padding: 0 0 1.5rem;
}

@media (min-width: 300px) and (max-width: 399px) and (max-height: 600px) {
  .home-page .text {
    margin: 50% auto 0 !important;
  }
  .home-page #about-me {
    margin-top: 3em;
  }
  .home-page .home-page .contact-links {
    text-align: center;
  }
}

@media (min-width: 360px) and (max-width: 500px) and (min-height: 700px) and (max-height: 900px) {
  #navbarTogglerDemo02 {
    position: fixed;
    top: 8% !important;
  }
}

@media (min-width: 400px) and (max-width: 499px) {
  .home-page .text {
    margin: 45% auto 5% !important;
  }
  #about-me {
    margin-top: 3.5em;
  }
  .home-page .contact-links {
    text-align: center;
  }
}

@media (min-width: 500px) and (max-width: 759px) {
  .home-page .text {
    margin: 28% auto 28% 2% !important;
    text-align: left;
    width: 70%;
  }
  .home-page .contact-links {
    text-align: center;
  }
  .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 70%;
    margin: 1.5rem auto 1.5rem 0;
  }
  .buttons button {
    width: 40%;
  }
}

@media (min-width: 760px) and (max-width: 991px) {
  .text {
    width: 60% !important;
    margin: 28% 5% 20% !important;
    text-align: left;
  }
  .home-page .top-container .arrow {
    margin-top: -9em;
  }
  .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: 1.5rem 0;
  }
  .buttons button {
    width: 40%;
  }
  .home-page .contact-links {
    text-align: center !important;
  }
}

@media (min-width: 992px) {
  #desktop {
    display: block !important;
  }
  #mobile {
    display: none !important;
  }
  .me-auto {
    margin-right: 0 !important;
  }
  div#links li {
    float: left;
    padding: 0 .5rem;
  }
  .navbar {
    -webkit-box-align: unset !important;
        -ms-flex-align: unset !important;
            align-items: unset !important;
  }
  .home-page #navbarTogglerDemo02 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    top: 0;
    padding: 0;
    height: 0;
  }
  #navbarTogglerDemo02 ul {
    float: left;
    padding: 0 10px;
  }
  .home-page .toggle-links {
    display: none;
  }
  /* Main content */
  .home-page .top-container {
    background-position: left;
    line-height: 1.5;
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 1rem;
  }
  .home-page .text {
    width: 50%;
    margin: 20% 5% 0;
    text-align: left;
  }
  .home-page h2 {
    font-size: 35px;
  }
  .home-page h4 {
    font-size: 22px;
  }
  .home-page svg {
    margin-right: .6em;
  }
  .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    width: 80%;
    margin: 1.5rem 0;
  }
  .buttons button {
    width: 40%;
  }
  .about-sections {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "left content";
    width: 100%;
  }
  .left {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: left;
  }
  img {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    margin-left: 6em;
    width: 90%;
  }
  .right {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: content;
  }
  .contact-links {
    text-align: center !important;
    padding-bottom: 1.5rem;
  }
}

@media (min-width: 1000px) {
  .about-sections img {
    width: 90% !important;
    margin: 1em auto 1em -1em !important;
  }
}

.about {
  background-color: #0a0a0a !important;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

.about .bg-light {
  background-color: #181818 !important;
}

.about .navbar-light .navbar-toggler {
  border: none !important;
  color: transparent;
}

.about button:focus:not(:focus-visible) {
  outline: none;
}

.about nav {
  padding: .5rem 1rem;
  position: fixed;
  z-index: 999;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .container-fluid {
  height: 3.2rem;
}

.about .navbar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .bg-dark {
  background-color: #181818 !important;
}

.about .navbar-dark .navbar-toggler {
  color: #ffffff8c;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.about button:focus:not(:focus-visible) {
  outline: none;
}

.about .navbar-toggler {
  height: 3.5rem;
}

.about .navbar-toggler-icon {
  height: 2.5rem;
  width: 2.5rem;
}

.about #navbarTogglerDemo02 {
  z-index: 999;
  position: fixed;
  top: 10%;
  left: 0;
  background-color: #181818;
  padding: 90px 0;
  width: 100%;
  height: 90vh;
  text-align: center;
}

.about .navbar-dark .navbar-nav .nav-link.active,
.about .navbar-dark .navbar-nav .show > .nav-link {
  color: #646468;
}

.about .toggle-links {
  margin-top: 1em;
}

.about a {
  text-decoration: none;
  color: #d8d6d6;
  padding-left: .5em;
}

.about a:hover {
  color: #fff !important;
}

.about a:active {
  color: #fff !important;
}

.about #About-me {
  color: #676768;
  padding: 1rem;
}

.about #About-me div {
  padding: .3rem 0;
}

.about #About-me h1 {
  text-align: center;
  padding-bottom: 2rem;
  text-transform: uppercase;
  margin-top: 2em;
}

.about #About-me .about-sections {
  display: -ms-grid;
  display: grid;
  width: 95%;
  margin: 0 auto;
}

.about #About-me .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 2rem;
}

.about #About-me img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  margin: 1em auto 1em;
  background-repeat: no-repeat;
  background-size: cover;
}

.about #About-me h1, .about #About-me h5 {
  font-weight: bolder;
}

.about #About-me .right h3 span {
  color: whitesmoke;
  font-size: calc(1.3rem + .6vw);
}

.about #About-me .p, .about #About-me h6 {
  margin-left: 1rem;
}

.about #links {
  text-align: center;
  position: relative;
  padding: 0 0 1.5rem;
}

@media (min-width: 992px) {
  .about .me-auto {
    margin-right: 0 !important;
  }
  .about div#links li {
    float: left;
    padding: 0 .5rem;
  }
  .about .navbar {
    -webkit-box-align: unset !important;
        -ms-flex-align: unset !important;
            align-items: unset !important;
  }
  .about #navbarTogglerDemo02 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    top: 0;
    padding: 0;
    height: 0;
  }
  .about #navbarTogglerDemo02 ul {
    float: left;
    padding: 0 10px;
  }
  .about .toggle-links {
    display: none !important;
  }
}

.contact {
  background-color: #0a0a0a !important;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  /*main content */
}

.contact .bg-light {
  background-color: #0a0a0a !important;
}

.contact .navbar-light .navbar-toggler {
  border: none !important;
  color: transparent;
}

.contact button:focus:not(:focus-visible) {
  outline: none;
}

.contact nav {
  padding: .5rem 1rem;
  position: fixed;
  z-index: 999;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .container-fluid {
  height: 3.2rem;
}

.contact .navbar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .bg-dark {
  background-color: #0a0a0a !important;
}

.contact .navbar-dark .navbar-toggler {
  color: #ffffff8c;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact button:focus:not(:focus-visible) {
  outline: none;
}

.contact .navbar-toggler {
  height: 3.5rem;
}

.contact .navbar-toggler-icon {
  height: 2.5rem;
  width: 2.5rem;
}

.contact #navbarTogglerDemo02 {
  z-index: 999;
  position: fixed;
  top: 10%;
  left: 0;
  background-color: #0a0a0a !important;
  padding: 90px 0;
  width: 100%;
  height: 90vh;
  text-align: center;
}

.contact .navbar-dark .navbar-nav .nav-link.active,
.contact .navbar-dark .navbar-nav .show > .nav-link {
  color: #646468;
}

.contact .toggle-links {
  margin-top: 1em;
}

.contact a {
  text-decoration: none;
  color: #d8d6d6;
  padding-left: .5em;
}

.contact a:hover {
  color: #fff !important;
}

.contact a:active {
  color: #fff !important;
}

.contact #title {
  display: block;
  padding-top: 8rem;
  padding-left: 2rem;
  max-width: 900px;
  margin: 0 auto;
}

.contact #title h1.title {
  text-align: left;
  padding: 0 1rem .1rem 0;
  font-size: 36px;
  color: #e5e6e6 !important;
  text-shadow: 2px 0 0 #49574f;
}

.contact #title hr {
  background-color: #fff;
  height: .14rem;
  width: 2.6rem;
  display: inline-block;
  margin-right: .2em;
}

.contact #title h1#project {
  color: #8c8c8f !important;
  margin-left: .5em;
  opacity: .6;
  margin-top: -.4em;
}

.contact .container {
  padding: 29px;
  color: #747577;
}

.contact p {
  font-size: 19px;
  line-height: 1.5;
  font-weight: normal;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  opacity: .6;
  color: #e5e6e6;
  margin: 1em 0;
}

.contact p.subText {
  margin-left: 1em;
}

.contact form {
  margin-top: 2em;
}

.contact .form-control {
  background-color: #0a0a0a !important;
  border: none;
  border-bottom: 2px solid #646468;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #e5e6e6;
}

.contact textarea {
  border-radius: 5px;
}

.contact input {
  padding-top: 1rem;
  padding-bottom: .5rem;
  margin-bottom: 1.4em;
  color: #fff;
}

.contact button#send {
  background: #646468;
  border: none;
  color: white;
  width: 6rem;
  padding: .5rem 0;
  border-radius: 10px;
  margin-top: 2em;
  margin-bottom: .5em;
}

.contact button#send:hover {
  background: #10101a;
}

.contact button#send:active {
  background: #10101a;
}

.contact #left {
  display: none;
}

.contact .forDesktop {
  display: none;
}

.contact .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 15rem;
  margin: 1em auto;
  padding-bottom: 1rem;
}

@media (min-width: 600px) {
  .contact #title {
    padding-left: 3rem;
  }
  .contact #title h1.title {
    font-size: 40px;
  }
  .contact h1#project {
    font-size: 45px !important;
    margin-left: 1.5em;
  }
  .contact hr {
    width: 3.8rem !important;
    margin-left: 1em;
    width: 4rem;
  }
  .contact button#send {
    width: 10rem;
  }
}

@media (min-width: 760px) and (max-width: 991px) {
  .contact #title h1#project {
    margin-left: 3em;
  }
  .contact form {
    width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .contact body {
    overflow-x: hidden;
    background: #bebdbd;
  }
  .contact .me-auto {
    margin-right: 0 !important;
  }
  .contact div#links li {
    float: left;
    padding: 0 .5rem;
  }
  .contact .navbar {
    -webkit-box-align: unset !important;
        -ms-flex-align: unset !important;
            align-items: unset !important;
  }
  .contact #navbarTogglerDemo02 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    top: 0;
    padding: 0;
    height: 0;
  }
  .contact #navbarTogglerDemo02 ul {
    float: left;
    padding: 0 10px;
  }
  .contact .toggle-links {
    display: none;
  }
  .contact #title {
    padding-left: 1.2rem;
    max-width: 960px;
  }
  .contact #title h1#getInTouch {
    font-size: 45px;
  }
  .contact #title h1#project {
    font-size: 55px !important;
  }
  .contact hr {
    width: 6rem !important;
    margin-left: 5em;
    width: 4rem;
  }
}

@media (min-width: 992px) and (min-width: 1200px) {
  .contact #title {
    max-width: 1120px;
  }
  .contact #title h1#getInTouch {
    font-size: 70px;
  }
  .contact #title h1#project {
    font-size: 70px !important;
  }
  .contact hr {
    width: 6rem !important;
    margin-left: 5em;
    width: 4rem;
  }
}

@media (min-width: 992px) {
  .contact .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    height: 100vh;
  }
}

@media (min-width: 992px) and (min-width: 1400px) {
  .contact .container,
  .contact .container-lg,
  .contact .container-md,
  .contact .container-sm,
  .contact .container-xl,
  .contact .container-xxl {
    max-width: 1120px;
  }
}

@media (min-width: 992px) {
  .contact .contentt-left {
    position: relative;
    width: 50%;
    margin: 0 0 0 1em;
    padding: 1rem 2rem;
  }
  .contact .left {
    width: 100%;
  }
  .contact p.subText {
    margin-left: 0;
  }
}

@media (min-width: 992px) and (min-width: 1033px) {
  .contact .left {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .contact .contentt-right {
    width: 30%;
    margin: 0 auto;
  }
  .contact .contentt-right p {
    margin-top: 2em;
  }
  .contact .forDesktop {
    display: block;
  }
  .contact .footer-links {
    width: 16rem;
    margin: 2em auto 1em;
  }
}

.portfolio {
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  background-color: #000;
  line-height: 2;
}

.portfolio nav {
  padding: .5rem 1rem;
  position: fixed;
  z-index: 999;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio .container-fluid {
  height: 3.2rem;
}

.portfolio .navbar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio .bg-dark {
  background-color: #0a0a0a !important;
}

.portfolio .navbar-dark .navbar-toggler {
  color: #ffffff8c;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.portfolio button:focus:not(:focus-visible) {
  outline: none;
}

.portfolio .navbar-toggler {
  height: 3.5rem;
  width: 2rem;
  margin-right: 1em;
  margin-left: auto;
}

.portfolio #navbarTogglerDemo02 {
  z-index: 999;
  position: fixed;
  top: 10%;
  left: 0;
  background-color: #0a0a0a !important;
  padding: 90px 0;
  width: 100%;
  height: 90vh;
  text-align: center;
}

.portfolio .navbar-dark .navbar-nav .nav-link.active,
.portfolio .navbar-dark .navbar-nav .show > .nav-link {
  color: #646468;
}

.portfolio a {
  text-decoration: none !important;
}

.portfolio a:hover {
  color: #fff !important;
}

.portfolio a:active {
  color: #fff !important;
}

.portfolio .toggle-links {
  margin-top: 1em;
}

.portfolio .toggle-links a {
  padding-left: .5em;
}

.portfolio .heading-bg {
  background-image: url("./Images/portfolio-bg.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 42%;
  position: absolute;
}

.portfolio main {
  background-color: #000;
  width: 100%;
  padding: 5rem 1rem 1rem;
}

.portfolio main h1 {
  font-size: 40px;
  text-align: center;
  margin: .6em auto;
  overflow-x: hidden;
}

.portfolio main h1,
.portfolio main h5 {
  opacity: .9;
  font-weight: bold;
}

.portfolio main h1,
.portfolio main h5,
.portfolio main p {
  color: #fff !important;
}

.portfolio main p, .portfolio main svg {
  opacity: .8;
}

.portfolio main .square {
  width: 90%;
  margin: 0 auto 2.5em;
}

.portfolio main .square img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.portfolio main .square .info {
  background: #0a0a0a !important;
  padding: .5rem .8rem;
  -webkit-box-shadow: 4px 4px 2px #111111;
          box-shadow: 4px 4px 2px #111111;
}

.portfolio main .square .info p {
  margin-bottom: 0;
}

.portfolio main .square .info p.title {
  font-weight: 900;
  font-size: 1.2em;
}

.portfolio main .square .info div.links {
  width: 4.5em;
  -webkit-margin-start: auto;
          margin-inline-start: auto;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
}

.portfolio main .square .info svg {
  margin-right: .6em;
}

@media (min-width: 600px) {
  .portfolio main .square {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .portfolio main .proto-container {
    -webkit-clip-path: inset(0 45% 0 0);
            clip-path: inset(0 45% 0 0);
    position: absolute;
    top: 20%;
    height: 70%;
    z-index: 0;
    width: 100%;
    pointer-events: none;
  }
  .portfolio main .proto {
    border: 3px solid #505052;
    width: 19%;
    height: 85%;
  }
}

@media (min-width: 992px) {
  .portfolio .me-auto {
    margin-right: 0 !important;
  }
  .portfolio div#links li {
    float: left;
    padding: 0 .5rem;
  }
  .portfolio .navbar {
    -webkit-box-align: unset !important;
        -ms-flex-align: unset !important;
            align-items: unset !important;
  }
  .portfolio #navbarTogglerDemo02 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    top: 0;
    padding: 0;
    height: 0;
  }
  .portfolio #navbarTogglerDemo02 ul {
    float: left;
    padding: 0 10px;
  }
  .portfolio .toggle-links {
    display: none !important;
  }
}
/*# sourceMappingURL=style.css.map */