$navBackground:#181818!important;
$toggleColor:#ffffff8c;
$toggleBackground:#181818;
$linkColor:#646468;
$aColor:rgb(216, 214, 214);
$aColorHover:#fff;
$body:#0a0a0a!important;
$mainBackground:#444444;
$mainTextColor:whitesmoke;
$bottomTextColor:#676768;
$h4Color:#a5a5a8;
$buttonColor:#16161a;
$cvColor:#fff;
$cvHover:#505052;
$scrollBackground: #101;
$typewriterSpeed:6s;

// Global styles
html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Libre Baskerville', serif;
  background-color: $body;
  line-height: 2;
}

[aria-current]{
  color: $aColorHover !important;
}

a:hover{
  color:$aColorHover!important;
}

// Navbar
nav{
  padding: .5rem 1rem ;
  position: fixed;
  z-index: 999;
  width: 100%;
  display: flex;
  font-family: 'Montserrat', serif;

}

.container-fluid{
  height: 3.2rem;
}

.navbar{
  align-items: center;
}

.bg-dark {
  background-color: $body;
}

.navbar-dark .navbar-toggler {
  color: $toggleColor;
  border:none ;
  box-shadow: none;
}

button:focus:not(:focus-visible){
  outline: none;
}

.navbar-toggler{
  height: 3.5rem;
  width: 2rem;
  margin-right: 1em;
  margin-left: auto;
}
  
// Navlinks
#navbarTogglerDemo02{
  z-index: 999;
  position: fixed;
  top: 10%;
  left: 0;
  background-color:$body;
  padding: 90px 0;
  width: 100%;
  height: 90vh;
  text-align: center;
}

.navbar-dark .navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav .show>.nav-link {
  color: $h4Color;
}
  
// link to the about page on mobile 
#mobile{
  display: block;
}

.toggle-links{
  margin-top: 1em;
}

a{
  text-decoration: none;
  color:  $aColor;
  padding-left: .5em;
  
  // active states
  &:hover,&:active{
    color:$aColorHover!important;
    transition: all 0.9s ease 0s;
  }
  
}
h4{
  font-family: 'Montserrat', serif;
}

// hamburger bars
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color:$linkColor;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
#hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
#hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background-color: $aColorHover;
}
#hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: $aColorHover;
}
// link to the about page on desktop
#desktop{
  display: none;
}

@media (min-width:992px){
  div#links li.nav-item a.long-width{
    &::before{
      width: 0;
    }
    &:hover::before{
      width: 70px!important;
    }
  }
  div#links li.nav-item a{
    &::before{
      content: '';
      position: absolute;
      top: 30px;
      // left: 0;
      width: 0;
      height: 2.2px;
      background: $aColorHover;
      transition: all 0.4s ease;
    }
    &:hover::before{
      width: 54px;
    }
  }
}

// social media links
.contact-links{
  text-align: center;
  position: relative;
  padding: 0 0 1.5rem;
  a{
    padding-left: .5rem;
  }
}


// Home page 
.home-page{
    
    // Top container 
     .top-container{
        background-image: url(./Images/background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: $mainBackground;
        background-blend-mode:multiply; 
        color:  $mainTextColor;
        line-height:0.5;
        text-align: center;
        position: relative;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100vh;
        padding: 1rem; 
      @media (max-width:767px){
        .text{
          margin: 35% 0 0;
        }
      }
      
      span{
        font-size: 1em;
        color: $cvColor;
      }

      h2{
        font-size: 1.5em;
        font-weight: normal;
        // position: relative;
        // width: 80% !important;
      }
      
      // @media (min-width:389px){
      //   // h2{
      //   //   width: 90%;
      //   // }
      //   h2::before,
      //   h2::after{
      //     content: '';
      //     position: absolute;
      //     top: 0;
      //     bottom: 9.4em;
      //     left: 0;
      //     right: 0;
      //   }
      //   h2::before{
      //     background: #0b0b0a;
      //     animation: 
      //       typewriter $typewriterSpeed steps(26) 1s forwards;
      //   }
      //   h2::after{
      //     width: .125em;
      //     background: $aColorHover;
      //     animation: 
      //       typewriter $typewriterSpeed steps(26) 1s forwards,
      //       blink 750ms steps(26) infinite;
      //   }

      //   @keyframes typewriter {
      //     to{
      //       left: 100%;
      //     }
      //   }

      //   @keyframes blink {
      //     to{
      //       background: transparent;
      //     }
      //   }
      // }
      // @media (min-width:500px){
      //   h2::before,
      //   h2::after{
      //     content: '';
      //     position: absolute;
      //     bottom: 7.6em;
      //   }
      // }
      // @media (min-width:630px){
      //   h2::before,
      //   h2::after{
      //     content: '';
      //     position: absolute;
      //     bottom: 6.5em;
      //   }
      // }
      // @media (min-width:760px){
      //   h2::before,
      //   h2::after{
      //     content: '';
      //     position: absolute;
      //     bottom: 7em;
      //   }
      // }
      
      h4{
        color: $h4Color;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.4;
        word-spacing: 2px;
      }
      @media (max-width:360px){
        .home-page h3{
          font-size: calc(1.1rem + .6vw);
        }
      }
      .buttons{
        margin-top: 3em;
        text-align: center;
      }
      .buttons button{
        border: none;
        padding: .5rem ;
        margin: .5em auto .5em ;
        width: 40%;
        font-weight: 500;
        background: $buttonColor;
        color: $cvColor;
        display: block;
        
        &:hover{
            background-color: $cvHover;
            transition: all 0.9s ease 0s;
            // font-size: 1rem;
        }
    }
    // bouncing arrow 
    .arrow{
      margin-top: 3em;
      animation: bounce 2s infinite;
    }
    @keyframes bounce{
      0%, 20%, 50%, 80%, 100%{
        transform: translateY(0);
      }
      40%{
        transform: translateY(-30px);
      }
      60%{
        transform: translateY(-15px);
      }

    }

    #About{
      display: none;
    }
  }
  // About page 
    #about-me{
      color: $h4Color;
      background-color: #0a0a0a;
      padding: 1rem;
      text-align: left;
      width: 90%;
      margin-inline: auto;
      
      h1{
        text-align: center!important;
        padding-bottom: 2rem;
        text-transform: uppercase;
        margin-top: 2em;
      }

      .about-sections{
        display: grid;
        width: 95%;
        margin: 0 auto;

        div.skill{
          margin-top: 1em;
        }

        h1,h5{
          font-weight: bolder;
        }
        h3 span{
          color: whitesmoke;
          font-size: calc(1.3rem + .6vw);
        }

        .p,h6{
          margin-left: 1em;
        }
  
    }
  }
    
    

  @media (min-width:300px) and (max-width:399px) and (max-height: 600px) {
      .text{
        margin: 50% auto 0!important;
      }
      #about-me{
        margin-top: 3em;
      }
      .contact-links{
        text-align: center;
      }
  }

  @media (min-width:360px) and (max-width:500px) and (min-height: 700px) and (max-height:900px) {
    #navbarTogglerDemo02{
      position: fixed;
      top: 8%!important;
    }
  }

   @media (min-width:400px) and (max-width:499px) {
      .text{
        margin: 45% auto 5% !important;
      }

      #about-me{
        margin-top: 3.5em;
      }

      .contact-links{
        text-align: center;
      }
    }

   @media (min-width:500px) and (max-width:759px) {
    .text{
      margin: 28% auto 28% 2% !important;
      text-align: left;
      width: 70%;
    }

    .contact-links{
      text-align: center;
    }

    .buttons{
      display: flex;
      justify-content: flex-start;
      width: 70%;
      margin: 1.5rem auto 1.5rem 0;
    }

    .buttons button{
      width: 40%;
    }
   }
   
   @media (min-width:760px) and (max-width:991px) {
    .top-container{
      .text{
        width: 65%!important;
        margin: 20% 5% 20%!important;
        text-align: left;
      }
      .arrow {
        margin-top: -9em;
      }

      .buttons{
        display: flex;
        width: 80%;
        margin: 1.5rem 0;
      }

      .buttons button{
        width: 40%;
      }
      
      .contact-links{
        text-align: center!important;
      }
   }
  }
  
  // Ipad screen size
  @media (min-width:760px) and (max-width:770px) and (min-height:1000px){
    #navbarTogglerDemo02{
      top: 6.2%;
    }
    .top-container{
      height: 70vh;
      .text{
        width: 70% !important;
      }
      h2{
        font-size: 2em;
      }
      h4{
        font-size: 1.4em;
      }
    }
  }
  
  // Tablet screen size and above
  @media (min-width:768px) {
    // about-me left column 
    .left{
      width: 30em;
      margin-inline: auto;
    }
    // about-me right column 
    .right{
      width: 30em;
      margin-inline: auto;
    }
  }

  @media (min-width:992px) {
    // link to about page on desktop
    #desktop{
      display: block!important;
    }

    // link to about page on mobile 
      #mobile{
        display: none!important;
      }
   
      .me-auto {
        margin-right: 0!important;
      }

      div#links li{
        float: left;
        padding: 0 .5rem;
      }

      .navbar{
        align-items: unset!important;
      }
      // Navlinks
      #navbarTogglerDemo02{
        display: flex!important;
        flex-direction: column;
        position: relative;
        top: 0;
        padding: 0;
        height: 0;
      }
      #navbarTogglerDemo02 ul{
        float: left;
        padding: 0 10px;
      }
      .toggle-links{
        display: none;
      }
    
      /* Main content */
      .top-container{
        background-position: left;
        line-height:1.5;
        position: relative;
        width: 100%;
        height: 100vh;
        padding: 1rem;
      }
      .text{
        width: 55%;
        margin: 15% 5% 0;
        text-align: left;
      }
      h2{
        font-size: 2.3em !important;
      }
      
      h4{
        font-size: 1.3em !important;
      }
    
      svg{
        margin-right: .6em;
      }
      .buttons{
        display: flex;
        align-content: flex-start;
        width: 80%;
        margin: 1.5rem 0;
      }

      .buttons button{
        width: 40%;
      }

      .about-sections{
        display: grid;
        grid-gap: 30px;
        grid-template-areas: "left content";
        width: 100%;
        margin-top: 2em !important;

        div.skill{
          margin-top: 0 !important;
        }
        // left column
        .left{
          grid-area:left;
        }
        // right column
        .right{
          grid-area:content;
        }
        
      }
      .contact-links{
        text-align: center!important;
        padding-bottom: 1.5rem;
      }
    
  }

  @media (min-width:1600px) {
    
    .top-container{
      .text{
        h2{
          font-size: 4.5em !important;
        }
        h4{
          font-size: 2.6em !important;
        }
      }
      svg.arrow{
        margin-top: 7em;
      }
    }
  }
}


  // Portfolio page
.portfolio{
  font-family: 'Montserrat', serif;
    // Main section 
    
    main{
      background-image: url('./Images/portfolio-bg.jpg');
      background-position: top;
      background-size: cover;
      background-color: #000;
      background-repeat: no-repeat;
      // height: 45vh;
      width: 100%;
      padding: 2rem 1rem 1rem;

      .subTitle{
        width: 95%;
        margin-inline: auto;
      }
      
      h1{
        font-size: 40px;
        text-align: center;
        margin: .6em auto;
        overflow-x: hidden;
        // word-break: keep-all;
        // text-shadow: -5px -7px 3px $linkColor;
      }
      h1,
      h5{
        opacity: .9;
        font-weight: bold;
      }
      h1,
      h5,
      p{
        color: $aColorHover!important;
      }
      p,svg{
        opacity: .8;
      }

      // myWorks
      .square{
        width: 90%;
        margin:0 auto 2.5em;
        // background: $body;
        // padding: .2rem .6rem;
        // opacity: .7;
        // display: flex;
        
        img{
          background-size: cover;
          background-repeat: no-repeat;
          width: 100%;
          margin-inline: -.5em;
        }
        .info{ 
          height: 60%;
          width: 100%;
          background: #111111;
          padding: .5rem .8rem;
          box-shadow: 4px 4px 8px #111111;
          // overflow-y: scroll;
          p{
            margin-bottom: 0;
          }
          p.title{
            font-weight: 900;
            font-size: 1.2em;
          }
          div.links{
            width: 5.5em;
            margin-inline-start: auto;
            margin-inline-end: 0;
          }
          svg{
            margin-right: .6em;
          }
        }
      }
    }

    footer{
      background: #000;
      padding-top: 1rem;
      // padding-top: 1.5rem;
    }

    @media (min-width:600px){
      main{
        .subTitle{
          width: 90%;
        }
        .square{
          width: 80%;
        }
      }
    }

    // Tablets and above
    @media (min-width:768px){
      main{
        section{
          display: grid;
          grid-template-columns: repeat(2, auto);
          width: 95%;
          margin:0 auto;
          z-index: 999;

          div.square{
            width: 20em;
            margin:2em auto;
          }
          img{
            margin: 0;
            filter: unset;
          }
          // grid-template-columns: auto auto ;
        }
        h1 {
          font-size: 50px;
          margin: 0 auto .6em;
        }
        // .proto-container{
        //   clip-path: inset(0 5% 0 0);
        //   position: fixed;
        //   top: 23%;
        //   left: 10em;
        //   right: auto;
        //   height:70%;
        //   z-index: 0;
        //   width: 100%;
        //   pointer-events: none;
        // }
        // .proto{
        //   border: 3px solid $h4Color;
        //   width: 19%;
        //   height: 90%;
        //   float: left;
        //   margin-left: 1em;
        //   transform: translateX(10%)
        // }
      }
    }

    @media (min-width:992px){
      .me-auto {
        margin-right: 0!important;
      }
  
      div#links li{
        float: left;
        padding: 0 .5rem;
      }
  
      .navbar{
        align-items: unset!important;
      }
      
      #navbarTogglerDemo02{
        display: flex!important;
        flex-direction: column;
        position: relative;
        top: 0;
        padding: 0;
        height: 0;
      }
      #navbarTogglerDemo02 ul{
        float: left;
        padding: 0 10px;
      }
      .toggle-links{
        display: none!important;
      }
    }

    @media (min-width:1000px){
      main{
        section{
          width: 90%;
        }
        .subTitle{
          h5{
            font-size: 1.5rem !important;
          }
          p{
            font-size: 1.2rem !important;
          }
        }
        
      }
    }

    @media (min-width:1100px){
      main{
        section{
          grid-template-columns: repeat(3, auto);
        }
      }
    }
}



  // About page 
  .about{
    background-color: $body;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    
    #about-me{
      color: $h4Color;
      background-color: #0a0a0a;
      padding: 1rem;
      text-align: left;
      width: 90%;
      margin-inline: auto;
      
      h1{
        text-align: center!important;
        padding-bottom: 2rem;
        text-transform: uppercase;
        margin-top: 2em;
      }

      .about-sections{
        display: grid;
        width: 95%;
        margin: 0 auto;

        div.skill{
          margin-top: 1em;
        }

        h1,h5{
          font-weight: bolder;
        }

        h3 span{
          color: whitesmoke;
          font-size: calc(1.3rem + .6vw);
        }

        .p,h6{
          margin-left: 1em;
        }
  
        }
      }
      #links{
        text-align: center;
        position: relative;
        padding: 0 0 1.5rem;
      }

    // Large screens
    @media (min-width: 992px){
      .me-auto {
        margin-right: 0!important;
      }
  
      div#links li{
        float: left;
        padding: 0 .5rem;
      }
  
      .navbar{
        align-items: unset!important;
      }
      
      #navbarTogglerDemo02{
        display: flex!important;
        flex-direction: column;
        position: relative;
        top: 0;
        padding: 0;
        height: 0;
      }
      #navbarTogglerDemo02 ul{
        float: left;
        padding: 0 10px;
      }
      .toggle-links{
        display: none!important;
      }
      
    }

      @media (max-width: 1000px){
          #about-me h1{
            margin-top: 0;
          }
      }

      @media (min-width: 1000px){
          #about-me h1{
            margin-top: 1.2em;
          }
      }

      @media (min-width: 130px){
          #about-me h1{
            margin-top: 1.2em;
          }
        }
  }
    
    


// Contact page
.contact{
  background-color: $body;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  
    .bg-light{
      background-color:$body;
    }
  
    .navbar-light .navbar-toggler{
      border: none!important;
      color:transparent;
    }

    button:focus:not(:focus-visible){
      outline: none;
    }
    // Navbar 
    nav{
      padding: .5rem 1rem ;
      position: fixed;
      z-index: 999;
      width: 100%;
      display: flex;
    }

    .container-fluid{
      height: 3.2rem;
    }

    .navbar{
      align-items: center;
    }

    .bg-dark {
      background-color:$body;
    }

    .navbar-dark .navbar-toggler {
      color: $toggleColor;
      border:none ;
      box-shadow: none;
    }

    button:focus:not(:focus-visible){
      outline: none;
    }

    .navbar-toggler{
      height: 3.5rem;
    }
      
    .navbar-toggler-icon{
      height: 2.5rem;
      width:2.5rem;
    }
    // Navlinks
    #navbarTogglerDemo02{
      z-index: 999;
      position: fixed;
      top: 10%;
      left: 0;
      background-color:$body;
      padding: 90px 0;
      width: 100%;
      height: 90vh;
      text-align: center;
    }

    .navbar-dark .navbar-nav .nav-link.active, 
    .navbar-dark .navbar-nav .show>.nav-link {
      color: $linkColor;
    }

    .toggle-links{
      margin-top: 1em;
    }
    a{
      text-decoration: none;
      color:  $aColor;
      padding-left: .5em;
      &:hover{
        color:$aColorHover!important;
      }
      &:active{
        color: $aColorHover!important;
      }
    }
    
/*main content */
#title{
  display: block;
  padding-top: 8rem;
  padding-left: 2rem;
  max-width: 900px;
  margin: 0 auto;

  h1.title{
    text-align: left;
    padding:0 1rem .1rem 0;
    font-size:36px; 
    color: #e5e6e6!important;
    text-shadow: 2px 0 0 #49574f;
  }

  // horizontal line 
  hr{
    background-color: $aColorHover;
    height: .14rem;
    width: 2.6rem;
    display: inline-block;
    margin-right: .2em;
  }
  // 'have a project title' style
  h1#project{
    color: $h4Color!important;
    margin-left: .5em;
    opacity: .6;
    margin-top: -.4em;
  }
}

// container 
.container{
    padding: 29px;
    color: #747577;
   }

    p{
      font-size: 19px;
      line-height: 1.5;
      font-weight: normal;
      font-family: 'Segoe UI', Tahoma, sans-serif;
      // opacity: .6;
      color: $h4Color;
      margin: 1em 0;
    }

    p.subText{
      margin-left: 1em;
    }
    // form 
    form{
      margin-top: 2em;
    }

    .form-control{
      background-color: $body;
      border: none;
      border-bottom: 2px solid $linkColor;
      outline: none;
      box-shadow: none;
      color: $h4Color;
    }

    textarea{
      border-radius: 5px;
    }

    // span{
    //   color: #10101a;
    // }

    // input 
    input{
      padding-top: 1rem;
      padding-bottom: .5rem;
      margin-bottom: 1.4em;
      color: $h4Color;
    }

    // send button 
    button#send{
      background:  $linkColor;
      border: none;
      color: white;
      width: 6rem;
      padding: .5rem 0;
      border-radius: 10px;
      margin-top: 2em;
      margin-bottom: .5em;
    
      // button hover state 
      &:hover{
        background: #10101a;
      }
      // button active state 
      &:active{
        background: #10101a;
      }
    } 

    #left{
      display: none;
    }

    .forDesktop{
      display: none;
    }

    // p.connect::after{
    //   content: '\2212';
    // }

    .footer-links{
      display: flex;
      justify-content: space-between;
      width: 15rem;
      margin:1em auto;
      padding-bottom: 1rem;
    }
    @media (min-width:600px) {
      #title{
        padding-left: 3rem;
      }
      #title h1.title {
        font-size: 40px;
      }
      h1#project{
        font-size: 45px!important;
        margin-left: 1.5em;
      }
      hr{
        width: 3.8rem!important;
        margin-left: 1em;
        width: 4rem;
      }
      button#send {
        width: 10rem;
      }
    }
      
      @media (min-width:760px) and (max-width:991px) {
        #title h1#project {
          margin-left: 3em;
        }
        form{
          width: 90%;
          margin: 0 auto;
        }
      }

      @media (min-width:992px) {
        body{
          overflow-x: hidden;
          background: #bebdbd;
        }
        // link to about page on desktop
        // #desktop{
        //   display: block!important;
        // }

        // link to about page on mobile 
        // #mobile{
        //   display: none!important;
        // }
      
        .me-auto {
          margin-right: 0!important;
        }

        div#links li{
          float: left;
          padding: 0 .5rem;
        }

        .navbar{
          align-items: unset!important;
        }
        // Navlinks
        #navbarTogglerDemo02{
          display: flex!important;
          flex-direction: column;
          position: relative;
          top: 0;
          padding: 0;
          height: 0;
        }
        #navbarTogglerDemo02 ul{
          float: left;
          padding: 0 10px;
        }
        .toggle-links{
          display: none;
        }
        #title{
          padding-left: 1.2rem;
          max-width: 960px;
        }
        #title h1#getInTouch{
          font-size: 45px;
        }
        #title h1#project{
          font-size: 55px!important;
        }
        hr{
          width: 6rem!important;
          margin-left: 5em;
          width: 4rem;
        }

        @media (min-width:1200px){
          #title{
            max-width: 1120px;
          }
          #title h1#getInTouch{
            font-size: 70px;
          }
          #title h1#project{
            font-size: 70px!important;
          }
          hr{
            width: 6rem!important;
            margin-left: 5em;
            width: 4rem;
          }
        }

        .container{
            display: flex;
            justify-content: space-between;
            padding: 0;
            // margin: 0 -5em 0 0;
            height: 100vh;
          }
          @media (min-width:1400px){
            .container, 
            .container-lg, 
            .container-md, 
            .container-sm, 
            .container-xl, 
            .container-xxl {
              max-width: 1120px;
          }
          }
         
          .contentt-left{
            position: relative;
            width: 50%;
            margin: 0 0 0 1em;
            padding: 1rem 2rem ;
            
          }
          .left{
              width: 100%;
          }
          p.subText {
            margin-left: 0;
        }
          @media (min-width:1033px){
            .left{
                width: 100%;
            }
          }


          .contentt-right{
        //     background-image: url('./Images/contact.jpg');
        //     background-repeat: no-repeat;
        //     background-size: cover;
        //     background-position: 50% 30%;
        //     background-color: rgb(39, 39, 39);
        //     background-blend-mode: luminosity;
            width: 35%;
            margin: 0 auto;
            p{
              margin-top: 2em;
            }
          }
          .forDesktop{
            display: block;
          }
        
          .footer-links{
            width: 16rem;
            margin:2em auto 1em;
          }
          
    }
}

