@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
}

div.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 6rem;
    width: 100vw;
    background: #304353;
}

div.logo {
    font-size: 1.5rem;
    color: #bcc3c7;
}

ul.nav-links {
    display: flex;
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0 2vw;
    list-style: none;
    font-size: 1.1rem;
}

ul li a {
    text-decoration: none;
    color: #88949B;
    padding: 0.5vw;
}

ul li a:hover {
    color: #304353;
    background: #fff;
    padding: 0.5rem;
}
#myLinks{
    display: none;
}
.icon{
    display:none;
}

div.hero-section {
    background: #304353;
    padding: 10rem;
}

div.hero-content-heading {
    text-align: center;
}

div.hero-content-heading h3 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    color: #bcc3c7;
}

div.hero-content-heading p {
    text-align: center;
    padding-top: 0.7rem;
    color: #88949B;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 300;
}

div.hero-content-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

div.hero-content-btn a {
    background: #E44C65;
    text-decoration: none;
    color: #bcc3c7;
    font-size: 0.9rem;
    padding: 10px 30px;
    border-radius: 3px;
    letter-spacing: 2px;
}

div.hero-background {
    background: #f0f0f0;
    padding: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.background {
    background: #fff;
    box-shadow: 2px 2px 15px 0 rgb(135 135 135 / 40%);
    padding: 15px 40px;
    width: 550px;
    height: 220px;
    position: relative;
}

div.background h4 {
    padding: 2rem;
    color: #555657;
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

div.background p {
    color: #A6A5AA;
    padding-left: 2rem;
    font-size: 0.8rem;
    letter-spacing: 2px;
}

div.hero-background-pos {
    position: absolute;
    right: 0px;
    left: 66%;
    background: #fff;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    box-shadow: 2px 2px 15px 0 rgb(135 135 135 / 40%);
}

div.snapshot-team {
    background: #f0f0f0;
    text-align: center;
    padding-top: 2rem;
}

div.snapshot-team h2 {
    color: #555657;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

div.snapshot-team p {
    color: #A6A5AA;
    font-size: 1rem;
    letter-spacing: 2px;
    padding-top: 0.8rem;
}

div.snapshot-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
    padding: 4rem 6rem;
}

div.snapshot-box-content {
    display: flex;
    justify-content: space-between;
}

div.box1 {
    background: #fff;
    padding: 10px 20px;
    width: 220px;
    height: 230px;
    margin: 10px;
    border-radius: 2px;
    box-shadow: 2px 2px 15px 0 rgb(135 135 135 / 40%);
}

div.box3 {
    background: #304353;
    padding: 10px 20px;
    width: 220px;
    height: 230px;
    margin: 10px;
    border-radius: 2px;
    box-shadow: 2px 2px 15px 0 rgb(135 135 135 / 40%);
}

div.box3 h5 {
    text-align: center;
    padding-top: 2rem;
    color: #E44C65;
    font-size: 1rem;
}

div.circle {
    display: flex;
    margin: 0 auto;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #bcc3c7;
    margin-top: 2rem;
    
}

div.box1 h5 {
    text-align: center;
    padding-top: 2rem;
    color: #E44C65;
    font-size: 1rem;
}

div.gallery-section {
    background: #fff;
    padding: 4rem;
}

div.gallery-content {
    text-align: center;
}

div.gallery-content h4 {
    color: #555657;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

div.gallery-content p {
    color: #A6A5AA;
    font-size: 1rem;
    letter-spacing: 2px;
    padding-top: 0.8rem;
}

div.gallery-img {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding-top: 3rem;
}

div.img {
    margin: 10px;
}

div.img img {
    width: 250px;
    height: 180px;
}

div.footer {
    background: #304353;
    padding: 3rem;
}

div.footer-content {
    text-align: center;
}

div.footer-content h4 {
    color: #bcc3c7;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

div.footer-content p {
    color: #88949B;
    font-size: 1rem;
    letter-spacing: 2px;
    padding-top: 0.8rem;
}

div.footer-input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

input[type="text"] {
    margin-right: 10px;
    padding: 10px 20px;
    width: 25%;
    outline: none;
    border: 1px solid #bcc3c7;
    background: transparent;
    color: #f0f0f0;
    font-size: 1rem;
    border-radius: 2px;
}

input[type="email"] {
    margin-right: 10px;
    padding: 10px 20px;
    width: 25%;
    outline: none;
    border: 1px solid #bcc3c7;
    background: transparent;
    color: #f0f0f0;
    font-size: 1rem;
    border-radius: 2px;
}

::placeholder {
    color: #A6A5AA;
}

div.footer-textarea {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

textarea {
    width: 51%;
    height: 150px;
    padding: 0.5rem;
    outline: none;
    border: 1px solid #bcc3c7;
    background: transparent;
    color: #f0f0f0;
}

div.footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

div.footer-btn a {
    background: #E44C65;
    text-decoration: none;
    color: #f0f0f0;
    font-size: 0.9rem;
    padding: 10px 50px;
    border-radius: 3px;
    letter-spacing: 2px;
}

div.footer h6 {
    text-align: center;
    color: #88949B;
    font-size: 1rem;
    padding-top: 6rem;
}


@media (max-width:600px) {
   
div.nav-bar {
    display: flex;
    padding: 1rem 2rem;
    position: relative;
}

div.logo {
    font-size: 1.3rem;
    
}
ul.nav-links {
    display: none;
}
#myLinks{
    display: none;
}
.links{
    width: 100%;
    text-align:left;
    padding-top:20px ;
    padding-left:18% ;
}
.nav-bar a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
   
  }
.nav-bar a.icon {
    background: #304353;
    display: block;
    position: absolute;
    right: 10px;
    top: 0;
   
  }
  .nav-bar a.icon i{
    font-size: 1.5rem;
  }
  .nav-bar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  

div.hero-section {
    padding: 3rem 1rem;
}
div.hero-content-heading {
    text-align: center;
}

div.hero-content-heading h3 {
    font-size: 1.2rem;
    text-transform: none;
    letter-spacing: 2px;
    font-weight: 600;
}

div.hero-content-heading p {
    font-size: .75rem;
}

div.hero-content-btn {
    padding-bottom: 1rem;
    padding-top: 2rem;
}

div.hero-content-btn a {
    font-size: 0.8rem;
}

div.hero-background {
    padding: 2rem;
    display: flex;
    
}

div.background {
    background: #fff;
    padding: 15px 20px;
    width: 500px;
    height: 250px;
    position: relative;
}

div.background h4 {
    padding: 1.5rem;
    padding-left: .5rem;
    font-size: 1rem;
}

div.background p {
    padding-right: .3rem;
    padding-left: .5rem;
    font-size: 0.8rem;
}

div.hero-background-pos {
    display:none;
}

div.snapshot-team {
    text-align: center;
    
}

div.snapshot-team h2 {
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

div.snapshot-team p {
    font-size: .8rem;
}




div.snapshot-box-content {
    display: block;
   
}

div.box1 {
    padding: 20px 20px;
    width: 250px;
    height: 200px;
    margin: 30px 2px;
   
}

div.box3 {
     padding: 20px 20px;
    width: 250px;
    height: 200px;
    margin: 30px 2px;
}


div.circle {
    display: flex;
    margin: 0 auto;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #bcc3c7;
    margin-top: 2rem;
    
}


div.gallery-section {
    padding: 3rem 1.5rem;
}

div.gallery-content {
    text-align: center;
}

div.gallery-content h4 {
   font-size: 1.2rem;
}

div.gallery-content p {
    font-size: .8rem;
}
}

div.img img {
    width: 260px;
    height: 150px;
}

div.footer {
    background: #304353;
    padding: 2rem 1.2rem;
}

div.footer-content h4 {
    font-size: 1.2rem;
}

div.footer-content p {
    font-size: .8rem;  
    padding-top: 0.8rem;
}

div.footer-input {
    display: flex;
   
}

input[type="text"] {
    padding: 10px 20px;
    width: 50%;
    font-size: 1rem;
}

input[type="email"] {
    width: 50%;
}
div.footer-textarea {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

textarea {
    width: 98%;
    height: 150px;
    padding: 0.1rem;
}

div.footer-btn {
    display: flex;
}

div.footer-btn a {
    font-size: 0.9rem;
    padding: 10px 40px;
}

div.footer h6 {
    font-size: .8rem;
    padding-top: 4rem;
  }


@media (min-width:768px) and (max-width:1280px){
    div.nav-bar {
        display: flex;
        padding: 1rem 1.5rem;
       
    }
    
    div.logo {
        font-size: 1.3rem;
        margin: .5rem;
    }
    .nav-links li{ 
        margin: .5rem;
        font-size: 1.3rem;
        padding:0 1rem ;
        overflow: hidden;
    }
    ul li a:hover {
        color: #304353;
        background: #fff;
        padding: 0.5rem;
    }
   
    #myLinks{
        display: none;
    }
    
    div.hero-section {
        padding: 10rem 2rem;
      
    }
    div.hero-content-heading {
        text-align: center;
    }
    
    div.hero-content-heading h3 {
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 600;
    }
    
    div.hero-content-heading p {
        font-size: 1rem;
       
    }
    
    div.hero-content-btn {
        padding:2rem 1rem 1rem ;
    }
    
    div.hero-content-btn a {
        font-size: 1rem;
    }
   
   div.hero-background { 
    padding: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
   div.background {
    padding: 10px 50px;
    width: 550px;
    height: 220px;
    position: relative;
}

   div.background h4 {
    padding: 1rem .8rem 1.6rem;
    font-size: 1rem;
    text-transform: uppercase;
}

   div.background p {
    padding-left: .8rem;
    font-size: 0.8rem;
    letter-spacing: 2px;
}

div.hero-background-pos {
    position: absolute;
    right: 0px;
    left: 74%;
}

div.snapshot-team {
   padding-top: 1rem;
}

div.snapshot-team h2 {
    font-size: 1.4rem;
    text-transform: uppercase;
}

div.snapshot-team p {
    padding-top: 0.8rem;
}

div.footer-input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

input[type="text"] {
    width: 45%;
}

input[type="email"] {
    width: 45%;
}
div.footer-textarea {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
    }
    
textarea {
        width: 90%;
        height: 150px;
        
    }
div.footer-btn {
        display: flex;
    }
    
div.footer-btn a {
        font-size: 0.9rem;
        padding: 20px 50px;
    }
    
div.footer h6 {
        font-size: .8rem;
        padding-top: 3rem;
      }
    
    }