@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;900&display=swap');  
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.6;
}

.container {
  max-width: 1100px;
  margin: 0 100px;
  padding: 0 40px;
}

.card {
  background-color: #F7F7F8;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  width:180px; 
  height: 48px;
  text-transform: uppercase;
  background: #4B4B58;
  border-radius: 4px;
  color: #fff;
  outline: none;
  cursor: pointer;
  border: none;
  margin: 20px -40px;
}

.btn-outline {
  background-color: transparent;
  border: 1px #fff solid;
}

.btn:hover {
  transform: scale(0.98);
  background-color: #ff3c78; 
  transition: all 0.3s ease 0s;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* nav */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 10vh;
}

nav img{
  padding: 16px 24px;
  border: none;
  margin-left: 100px;
  width: 14%;
}
#nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
  left: 0;
  top: 0;
  margin-top: 40px;
  width: 100%;
  z-index: 1;
}
#navLinks{
  display: flex;
  margin-left: -70px;
  transition: 0.3s;
}
#navLinks a{
  color: #4b4b58;
}
nav button.download{
  display: none;
}
#desktop-btn{
  width: 25%;
  display: block!important;
}
#navLinks.active{
  top: 5em;
}

header nav #nav-links li {
  display: inline-block;
  padding: 0px 20px;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #4b4b58;
  letter-spacing: 1px;
}
.nav-item a:after{
  content: "";
  display: block;
  background-color: #ff3c78;
  height: 2px;
  width: 0;
  left: 80;
  bottom: 0;
  transition: 0.3s;
}

.nav-item a:hover:after{
  width: 100%;
  left: 0;
}

.download {
  background-color: #212121;
  color: #fff;
  border-radius: 4px;
  padding: 16px 24px;
  margin-right: 143.5px;
  border: none;
  transition: all 0.3s ease 0s;
}

.download:hover {
  background-color: #ff3c78; 
  transition: all 0.3s ease 0s;
  color: #fff;
  transform: scale(0.98);
}

.nav-item{
  margin: 1.5rem 1em;
}
.hamburger{
  display: none;

}
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
#desktop-nav{
  display: none;
}
/* Showcase */
.showcase {
  height: 400px;
  color: #000;
  position: relative;
}

.showcase h2 {
  font-size: 50px;
  font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 900;
    line-height: 61px;
    color: #4B4B58;
}

.showcase p {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: normal;
  width: 80%;
  margin: -25px 0;
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
  letter-spacing: -0.02em;
  color: #A5A5B3;
}

.showcase .grid {
  overflow: visible;
  grid-template-columns: 55% auto;
  gap: 30px;
}


.showcase-form {
  position: relative;
  top: 120px;
  height: 350px;
  width: 344px;
  padding: 40px;
  justify-self: flex-end;
  margin: 50px 0px 0px 18px;
}

.card h2{
  text-align: center;
  font-family: Mulish;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 150%; 
  color: #4B4B58;
  margin: -15px 0;
}


.showcase-form .form-control {
  margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
  border: 0;
  border: 2px solid #A5A5B3;
  border-radius: 4px;
  width: 100%;
  margin-left: -10px;
  height: 45px;
  padding: 5px 10px;
  font-size: 16px;
}

.showcase-form textarea{
  border: 0;
  border: 2px solid #A5A5B3;
  border-radius: 4px;
  width: 100%;
  margin-left: -10px;
  height: 200px;
  padding: 13px 10px;
  font-size: 16px;
  resize: none;
  outline: none;
}

form{
    margin-bottom: 20px;
}

.showcase-form input:focus {
  outline: none;
}
  
.showcase .gallery-container {
  width: 95%;
  height: 90%;
  margin: 80px 0px 0px 18px;
}
.showcase .img-gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 5vw);
  grid-gap: 5px;
}

.showcase .gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.showcase .gallery-item-1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
}

.showcase .gallery-item-2 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 7;
}

.showcase .gallery-item-3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 7;
}

/* Contact */
.contact{
  margin: 80px 0;
  background-color: #fff;
  color: #000;
}
.contact .grid {
  grid-template-columns: 4fr 3fr;
}
.contact .center h2{
  color: #4B4B58;
  padding: 0;
  margin: 0;
  font-family: Mulish;
  font-style: normal;
  font-weight: 900;
  font-size: 34px;
}

.box h5{
  font-family: Mulish;
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  line-height: 50%; 
  color: #818195;
}

.box .fa{
  color: #4B4B58;;
}

.box p{
  color: #4B4B58;
  font-weight: 100;
  font-size: 17px;
  line-height: 80%; 
}

/* footer */
footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 180px 60px 70px;
}
footer .subs{
  width: 100%;
  text-align: center;
  padding-bottom: 1rem;
}

.email-btn{
    margin-top: -40px;
}

footer section:first-child div.email-btn{
    display: flex;
    justify-content: center;
}

footer section:first-child input{
    border: 1px solid #818195;
    padding: 14px 10px;
    outline: none; 
    font-size: 14px;
    font-weight: normal;
    width: 250px;
    border-radius: 3px 0px 0px 3px;
}

footer section:first-child button{
    background-color:#4B4B58;
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 20px;
    border: 2px solid #4B4B58;
    outline: none;
    border-radius: 0px 3px 3px 0px;
}

footer section:first-child button:hover{
    background-color: #ff3c78; 
    transition: all 0.3s ease 0s;
    border: 2px solid #ff3c78;
   
}

footer section h4{
    margin-bottom: 15px;
    cursor: default;
    color: #4B4B58;
    font-size: 15px;
    font-weight: 800;
}

footer nav{
    margin-top: 25px;
}
.subscribe{
    font-size: 20px;
    font-weight: bold;
    color: #4B4B58;
}
footer section nav a{
    text-decoration: none;
    display: block;
    font-weight: normal;
    font-size: 16px;
    color: #4B4B58;;
    margin: 16px 0px;
    transition-property: color,transform;
    transition-duration: 0.4s;
}

footer section nav a:hover{
    transform: translateX(10px);
    color: #ff3c78;
}
.socials{
  display: flex;
  justify-content: space-between;
}
#mobile-socials{
  display: none;
}
.socials a{
  margin: 0;
}
.socials img{
    border: solid;
    padding: 0.5em;
    background: #E4E4E9;
    border-radius: 50%;
    border: none;
    margin: 0 6px;
    width: 35%;
}
.mobile{
    display: none;
}
.socials-mobile{
    display: none;
}

@media (max-width: 450px) {
  #bottom-mobile{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
  }
  
}

/* Tablets and under */
@media (max-width: 900px) {
    .grid,
    .showcase .grid,
    .contact .grid
    {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
  
    header nav #nav-links {
      display: flex;
      margin-left: -70px;
  }
    #navLinks{
      padding-bottom: 3rem;
      position: fixed;
      left: -100%;
      top: 5rem;
      width: 100%;
      text-align: center;
      justify-content: space-between;
      flex-direction: column;
      background-color: #fff;
      z-index: 9999;
    }
    #navLinks.active {
      left: 10%;
  }
    nav button.download{
      display: block!important;
      width: 40%;
      margin: 0 auto;
    }
    #desktop-btn{
      display: none!important;
    }
    .hamburger{
      display: block;
      margin-right: 1em;
      cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
    #navLinks li{
      width: 20%;
      margin-left: auto;
      margin-right: auto;
    }

    .showcase {
      height: auto;
    }
  
    .showcase-text {
      text-align: center;
      margin-top: 40px;
    }
  
    .showcase-form {
      justify-self: center;
      margin: auto;
    }
   
    .showcase .gallery-container{
      justify-self: center;
      margin-right: 60px;
    }

    header{
        margin-top: -30px;
    }

    header nav img{
        width: 19%;
        margin: 0 -15px;   
    }

    .showcase .showcase-text h2{
        width: px;
        font-weight: 900;
        font-size: 28px;
        line-height: 150%;
        margin-top: auto;
    }

    .showcase .showcase-text p{
        width: px;
        text-align: center;
        font-size: 18px;
        margin:0 auto;
    }
    
    .showcase-form {
      width: 100%;
    }

    .contact .center{
        margin-top: 20px;
    }
    
    .card{
        justify-self: center;
        margin-left: -40px;
        margin-top: -140px;
    }

    .showcase .gallery-container{
        justify-self: center;
        margin-left: 60px;
        margin-top: -30px;
    }

    .showcase .gallery-item-1 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 6;
      }
      
      .showcase .gallery-item-2 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 6;
        grid-row-end: 7;
    }
      
      .showcase .gallery-item-3 {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 7;
    }

    .contact .center{
        text-align: center;
    }

    .contact .center h2{
        font-size: 28px;

        font-weight: 900;
    }
    
    #bottom-mobile{
      display: none;
    }
    .socials{
      display: none;
    }
    #mobile-socials{
      display: flex;
      justify-content: center;
      width: 200%;
      margin: 1em auto;
    }
    .socials img{
      width: 40%;
    }

  }

  /* the screen size highlighted in pink
  @media (max-width: 1024px) and (min-width:900px) {
      body{
          background-color: #ff3c78;
    }
  } */

/* Ipad and above */
  @media (min-width: 768px){
    #navLinks{
      margin-left: 0;
    }
    #desktop-nav{
      display: none;
    }
    h5{
      margin: .8em auto 1.2em ;
    }
    footer{
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 30px;
      align-items: flex-start;
      
    }
    footer .subs {
      text-align: left;
  }
    #bottom-mobile{
      display: none;
    }

  }
  /* Above Tablets */
  @media (min-width: 900px){
    
    
  }
  @media (min-width: 1440px){
    .showcase .gallery-container{
            width: 103%;
            height: 90%;
            margin: 80px 0px 0px 86px;
    }

    .card{
        width: 86.3%;
        margin-right: -100px;
    }

  }

  @media (max-width: 1900px) and (min-width:1440px){
    .showcase .gallery-container{
        width: 90%;
        height: 90%;
        margin: 80px 0px 0px 86px;
    }

    .card{
    width: 73.4%;
    margin-right: -40px;
}
    }
  
  /* Mobile */
  @media (max-width: 500px) {
    header{
        margin-top: -30px;
    }

    header nav img{
        width: 40%;
        margin: 0 -15px;   
    }

    .showcase .showcase-text h2{
        width: 259px;
        font-weight: 900;
        font-size: 25px;
        line-height: 150%;
        margin-top: auto;
        margin-left: 20px
    }

    .showcase .showcase-text p{
        width: 292px;
        text-align: center;
        font-size: 16px;
        margin-top: 20px;
    }
    
    .showcase-form {
      width: 100%;
    }

    .contact .center{
        margin-top: -10px;
    }
    
    .card{
        justify-self: center;
        margin-left: -40px;
        margin-top: -140px;
    }

    .showcase .gallery-container{
        justify-self: center;
        margin-left: 60px;
    }

    .showcase .gallery-item-1 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 6;
      }
      
      .showcase .gallery-item-2 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 6;
        grid-row-end: 7;
    }
      
      .showcase .gallery-item-3 {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 7;
    }

    .contact .center{
        text-align: center;
    }

    .contact .center h2{
        font-size: 25px;
        width: 252px;
        font-weight: 900;
    }

  }
