@import url("https://fonts.google.com/specimen/Inter");

@import url("https://fonts.google.com/specimen/Lexend+Deca");

body{
    background-color:  hsl(233, 47%, 7%);
}
.body{
    margin:5em 1em; 
}
.mobile{
    background-image: url('images/image-header-mobile.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 32vh;
    border-top-left-radius: 10px!important;
    border-top-right-radius: 10px!important;
}
.background{
    background-color:  hsl(244, 38%, 16%);
    background-color: hsl(277, 64%, 61%);
    opacity: 0.5;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
   

@media (max-width:321px){
    .background{
        position: absolute;
        top: 14%;
        left:auto ;
        right:auto;
        width: 84.4%;
        height: 17.7vh;
    }
    .attribution {
        margin-top: 9em;
    }
    .top{
        margin-top: 0!important;
    }
}
@media (min-width:322px) and (max-width:359px){
    .background{
        position: absolute;
        top: 12.5%;
        left:auto ;
        right:auto;
        width: 86%;
        height: 17.7vh;
    }
    .attribution {
        margin-top: 10em;
    }
}


@media (min-width:360px) and (max-width:380px){
    .background{
        position: absolute;
        top: 13.6%;
        left:auto ;
        right:auto;
        width: 87%;
        height: 19.7vh;
    }
}
@media (min-width:380px) and (max-width:409px){
    .background{
        position: absolute;
        top:13.6%;
        left:auto ;
        right:auto;
        width: 87.6%;
        height: 17.7vh;
    }
} 
@media (min-width:410px) and (max-width:435px){
    .background{
        position: absolute;
        top: 13.6%;
        left:auto ;
        right:auto;
        width: 88.6%;
        height: 17.7vh;
    }
}
@media (min-width:410px) and (max-width:435px){
    .background{
        position: absolute;
        top: 13.6%;
        left:auto ;
        right:auto;
        width: 88.6%;
        height: 17.7vh;
    }
}
    @media (min-width:436px) and (max-width:454px){
        .background{
            position: absolute;
            top: 13.6%;
            left:auto ;
            right:auto;
            width: 89%;
            height: 17.7vh;
        }
        .mobile{
            background-position: right top;
        }
    }
    @media (min-width:455px) and (max-width:497px){
        .background{
            position: absolute;
            top: 13.6%;
            left:auto ;
            right:auto;
            width: 90%;
            height: 17.7vh;
        }
        .mobile{
            background-position: right top;
        }
    }
    @media (min-width:498px) and (max-width:547px){
        .background{
            position: absolute;
            top: 12.8%;
            left:auto ;
            right:auto;
            width: 91%;
            height: 19vh;
        }
        .mobile{
            background-position: right top;
            height: 36vh;
        }
    }
    @media (min-width:548px) and (max-width:594px){
        .background{
            position: absolute;
            top: 12.8%;
            left:auto ;
            right:auto;
            width: 91.5%;
            height: 19vh;
        }
        .mobile{
            background-position: right top;
            height: 36vh;
        }
    }
    @media (min-width:595px) and (max-width:629px){
        .body{
            padding: 70px 0;
        }
        .background{
            position: absolute;
            top: 23.5%;
            left:auto ;
            right:auto;
            min-width: 92%;
            height: 20vh;
        }
        .mobile{
            background-position: right top;
            height: 36vh;
        }
        .stat{
            display: grid;
            grid-template-columns: auto auto auto;
        }
    }
    @media (min-width:630px) and (max-width:660px){
        .body{
            padding: 40px 0;
        }
        .background{
            position: absolute;
            top: 18.8%;
            left:auto ;
            right:auto;
            width: 92.5%;
            height: 19.5vh;
        }
        .mobile{
            background-position: right top;
            height: 36vh;
        }
        .stat{
            display: grid;
            grid-template-columns: auto auto auto;
        }
    }
    @media (min-width:661px) and (max-width:712px){
        .body{
            padding: 50px 0;
        }
        .background{
            position: absolute;
            top: 20.5%;
            left:auto ;
            right:auto;
            width: 93%;
            height: 19.7vh;
        }
        .mobile{
            background-position: right top;
            height: 36vh;
        }
        .stat{
            display: grid;
            grid-template-columns: auto auto auto;
        }
    }
    @media (min-width:713px) and (max-width:767px){
        .background{
            position: absolute;
            top: 7.8%;
            left:auto ;
            right:auto;
            width: 93.6%;
            height: 26.7vh;
        }
        .mobile{
            background-position: right 17%;
            min-height: 37vh;
        }
        .stat{
            display: grid;
            grid-template-columns: auto auto auto;
        }
    }
.top{
    margin: -8em 0!important;
    position: relative;
 }

.desktop{
    display: none;
}
.top{
    margin: -1.3em 0;
    padding-bottom: 1rem;
    background-color: hsl(244, 38%, 16%);
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
h1.heading{
    color: hsl(0, 0%, 100%);
    text-align: center;
    padding:1rem 1.5rem 0;
}
span{
    color: hsl(277, 64%, 61%);
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 18px;
    text-align: center;
    padding: .5rem 1.5rem;
}
.center h3{
    color: hsl(0, 0%, 100%);
    text-align: center;
    font-size: 29px;
    margin-bottom: -.6em;
}
.center p{
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
}
.attribution {
    font-size: 16px; 
    text-align: center;
    color:hsla(0, 0%, 100%, 0.75) ;
 }
 @media (min-width:360px) and (max-width:767px){
    .attribution {
        margin-top: 9em;
    }
}
.attribution a {
     color: hsl(228, 45%, 44%); 
 }


@media (min-width:768px) and (max-width:1500px) {
    .body{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-areas: "content background ";
        margin:5em auto 0!important;
        padding: 90px 0;
        width: 80%;
        box-sizing: border-box;
    }
    .mobile{
        display: none;
    }
    
    .desktop{
        background-image: url('images/image-header-desktop.jpg');
        background-position: 75% 20%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        display: flex;
        grid-area: 'background';
        width: 100%;
        margin: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .background{
            opacity: 0.6;
            overflow: hidden;
            display: flex;
            border-top-left-radius: 0px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
    } 
@media (min-width:768px) and (max-width:774px){
    .body{
        padding: 20px 0;
    }
    .background{
        position: absolute;
        top: 6.25em;
        left:25em ;
        right:auto;
        width: 37.3%;
        height: 67.4%;
    }
}
@media (min-width:775px) and (max-width:785px){
    .body{
        padding: 20px 0;
    }
    .background{
        position: absolute;
        top: 6.25em;
        left:25em ;
        right:auto;
        width: 37.5%;
        height: 67.5%;
    }
}
@media (min-width:786px) and (max-width:795px){
    .body{
        padding: 20px 0;
    }
    .background{
        position: absolute;
        top: 6.25em;
        left:25em ;
        right:auto;
        width: 38.4%;
        height: 67.55%;
    }
} 
@media (min-width:796px) and (max-width:799px){
    .body{
        padding: 20px 0;
    }
    .background{
        position: absolute;
        top: 6.25em;
        left:25em ;
        right:auto;
        width: 39%;
        height: 67.55%;
    }
}
@media (min-width:800px) and (max-width:806px){
    .body{
        padding: 20px 0;
    }
    .background{
        position: absolute;
        top: 6.25em;
        left:25em ;
        right:auto;
        width: 39.6%;
        height: 67.55%;
    }
}
@media (min-width:807px) and (max-width:814px){
    .body{
        padding: 20px 0;
    }
    .background{
        position: absolute;
        top: 6.25em;
        left:25em ;
        right:auto;
        width: 40%;
        height: 67.55%;
    }
}
@media (min-width:815px) and (max-width:824px){
    .body{
        padding: 20px 0;
    }
    .background{
        position: absolute;
        top: 6.25em;
        left:25em ;
        right:auto;
        width: 40.6%;
        height: 67.55%;
    }
}
@media (min-width:825px) and (max-width:835px){
    .body{
        padding: 20px 0;
    }
    .background{
        position: absolute;
        top: 6.25em;
        left:25em ;
        right:auto;
        width: 41%;
        height: 67.55%;
    }
}
@media (min-width:836px) and (max-width:845px){
    .body{
        padding: 20px 0;
    }
    .background{
        position: absolute;
        top: 6.25em;
        left:25em ;
        right:auto;
        width: 41.6%;
        height: 67.55%;
    }
}
@media (min-width:846px) and (max-width:854px){
    .body{
        padding: 20px 0;
    }
    .background{
        position: absolute;
        top: 6.25em;
        left:25em ;
        right:auto;
        width: 42%;
        height: 67.55%;
    }
}
@media (min-width:855px) and (max-width:866px){
    .body{
        padding: 20px 0;
    }
    .background{
        position: absolute;
        top: 6.25em;
        left:25em ;
        right:auto;
        width: 43%;
        height: 67.55%;
    }
}
@media (min-width:867px) and (max-width:876px){
    .body{
        padding: 20px 0;
    }
    .background{
        position: absolute;
        top: 6.25em;
        left:25em ;
        right:auto;
        width: 43.6%;
        height: 67.55%;
    }
}
@media (min-width:877px) and (max-width:875px){
    .body{
        padding: 20px 0;
    }
    .background{
        position: absolute;
        top: 15.7em;
        left:27.8em ;
        right:auto;
        width: 38.5%;
        height: 42.4%;
    }
}
@media (min-width:876px) and (max-width:1010px){
    .background{
        display: none;
    }
}
@media (min-width:1011px) and (max-width:1020px){
    .body{
        padding: 20px 0;
    }
    .background{
        position: absolute;
        top: 6.25em;
        left:33.3em ;
        right:auto;
        width: 36.9%;
        height: 64.35%;
    }
} 
@media (min-width:1020px) and (max-width:1030px){
    .body{
        padding: 20px 0;
    }
    .background{
        position: absolute;
        top: 6.25em;
        left:33.3em ;
        right:auto;
        width: 37.3%;
        height: 64.35%;
    }
} 
@media (min-width:1030px) and (max-width:1040px){
    .body{
        padding: 20px 0;
    }
    .background{
        position: absolute;
        top: 6.25em;
        left:33.3em ;
        right:auto;
        width: 37.8%;
        height: 64.35%;
    }
} 
@media (min-width:1040px) and (max-width:1051px){
    .body{
        padding: 20px 0;
    }
    .background{
        position: absolute;
        top: 6.25em;
        left:33.3em ;
        right:auto;
        width: 38.4%;
        height: 64.35%;
    }
} 
@media (min-width:1052px) and (max-width:1061px){
    .body{
        padding: 20px 0;
    }
    .background{
        position: absolute;
        top: 6.25em;
        left:33.3em ;
        right:auto;
        width: 38.7%;
        height: 64.35%;
    }
} 
@media (min-width:1062px) and (max-width:1071px){
    .body{
        padding: 20px 0;
    }
    .background{
        position: absolute;
        top: 6.25em;
        left:33.3em ;
        right:auto;
        width: 39.5%;
        height: 64.35%;
    }
} 
@media (min-width:1072px) and (max-width:1077px){
    .body{
        padding: 20px 0;
    }
    .background{
        position: absolute;
        top: 6.25em;
        left:33.3em ;
        right:auto;
        width: 39.9%;
        height: 64.35%;
    }
} 
@media (min-width:1078px) and (max-width:1089px){
    .body{
        padding: 20px 0;
    }
    .background{
        position: absolute;
        top: 6.25em;
        left:33.3em ;
        right:auto;
        width: 40%;
        height: 61%;
    }
} 
@media (min-width:1089px) and (max-width:1279px){
    .background{
        display: none;
    }
    .body{
        padding: 25px 0;
    }
} 
@media (min-width:1280px) and (max-width:1288px){
    .body{
        padding: 20px 0;
    }
    .background{
        position: absolute;
        top: 6.25em;
        left:41em ;
        right:auto;
        width: 38.5%;
        height: 55.4%;
    }
} 
@media (min-width:1289px) and (max-width:1296px){
    .body{
        padding: 20px 0;
    }
    .background{
        position: absolute;
        top: 6.25em;
        left:41em ;
        right:auto;
        width: 38.7%;
        height: 55.3%;
    }
} 
@media (min-width:1297px) and (max-width:1304px){
    .body{
        padding: 20px 0;
    }
    .background{
        position: absolute;
        top: 6.25em;
        left:41em ;
        right:auto;
        width: 39.2%;
        height: 55.2%;
    }
} 
@media (min-width:1305px) and (max-width:1365px){
    .background{
        display: none;
    }
    .body{
        padding: 25px 0;
    }
} 
@media (min-width:1366px) and (max-width:1410px){
    .background{
        position: absolute;
        top: 10.6em;
        left:41.5em ;
        right:auto;
        width: 41%;
        height: 50.3%;
    }
} 

    
    .top{
        grid-area: content;
        margin: 0 !important ;
        padding: 0 3em;
        width: 84%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 0px;
    }
    h1.heading {
        text-align: left;
        padding: 1rem 1.5rem 0 0;
    }
    h1,p{
        width: 80%;
        margin: 0 auto 0 0;
        padding: 1em 0 1em ;
        text-align: left;
    }
    p{
        font-family: 'Lexend Deca',sans-serif;
    }
    .stat{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 15px;
    }
    .center{
        padding-bottom: 2em;
    }
    .center h3{
        margin-bottom: 0;
    }
    .center p{
        text-align: right;
        padding-top:1em ;
    }
    .attribution {
        margin-top: 2em;
        font-size: 18px; 
        text-align: center;
     }
}
