@import url("https://fonts.google.com/specimen/Inter");

@import url("https://fonts.google.com/specimen/Lexend+Deca");

body{
    background-color:  hsl(233, 47%, 7%);
}
.body{
    margin:5em 1em; 
}
.mobile{
    background-image: url('images/image-header-mobile.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 40vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
@media (min-width:0px) and (max-width:299px){
    .body{
        margin:-1em 1em; 
    }
    .mobile{
        background-size: contain;
        margin: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

.background{
    background-color:  hsl(244, 38%, 16%);
    background-color: hsl(277, 64%, 61%);
    position: absolute;
    top: 9.8%;
    left:auto ;
    right:auto;
    opacity: 0.4;
    width: 84%;
    height: 18.8vh;
    overflow: hidden;
}
.top{
    margin: -8em 0!important;
 }
}
.desktop{
    display: none;
}
.top{
    margin: -1.3em 0;
    padding-bottom: 1rem;
    background-color: hsl(244, 38%, 16%);
    width: 100%;
    font-family: 'Inter',sans-serif;
}
h1.heading{
    color: hsl(0, 0%, 100%);
    text-align: center;
    padding:1rem 1.5rem 0;
}
span{
    color: hsl(277, 64%, 61%);
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    line-height:1.3 ;
    text-align: center;
    padding: .5rem 1.5rem;
    font-family: 'Lexend Deca',sans-serif;
}
.center h3{
    color: hsl(0, 0%, 100%);
    text-align: center;
    font-size: 29px;
    margin-bottom: -.6em;
}
.center p{
    text-transform: uppercase;
    font-size: 15px;
}
.attribution {
    margin-top: 3em;
    font-size: 16px; 
    text-align: center;
    color:hsla(0, 0%, 100%, 0.75) ;
 }
.attribution a {
     color: hsl(228, 45%, 44%); 
 }
@media (min-width:300px) and (max-width:799px){
body{
    background-color:  hsl(233, 47%, 7%);
}
.body{
    margin:5em 1em; 
}
.mobile{
    background-image: url('images/image-header-mobile.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 20vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
@media (min-width:300px) and (max-width:324px){
  
.background{
    background-color:  hsl(244, 38%, 16%);
    background-color: hsl(277, 64%, 61%);
    position: absolute;
    top: 7.9%;
    left:auto ;
    right:auto;
    opacity: 0.4;
    width: 84.3%;
    height: 20.3vh;
    display: flex;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
}
@media (min-width:325px) and (max-width:365px){
.background{
    background-color:  hsl(244, 38%, 16%);
    background-color: hsl(277, 64%, 61%);
    position: absolute;
    top: 7.9%;
    left:auto ;
    right:auto;
    opacity: 0.4;
    width: 86%;
    height: 20.3vh;
    display: flex;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
}
@media (min-width:366px) and (max-width:400px){
    .background{
        background-color:  hsl(244, 38%, 16%);
        background-color: hsl(277, 64%, 61%);
        position: absolute;
        top: 7.9%;
        left:auto ;
        right:auto;
        opacity: 0.4;
        width: 87.5%;
        height: 20.3vh;
        display: flex;
        overflow: hidden;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    }
    @media (min-width:400px) and (max-width:411px){
        .background{
            background-color:  hsl(244, 38%, 16%);
            background-color: hsl(277, 64%, 61%);
            position: absolute;
            top: 7.9%;
            left:auto ;
            right:auto;
            opacity: 0.4;
            width: 88%;
            height: 20.3vh;
            display: flex;
            overflow: hidden;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        }

@media (min-width:412px) and (max-width:440px){
.background{
    background-color:  hsl(244, 38%, 16%);
    background-color: hsl(277, 64%, 61%);
    position: absolute;
    top: 7.9%;
    left:auto ;
    right:auto;
    opacity: 0.4;
    width: 88.5%;
    height: 20.3vh;
    display: flex;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
}
@media (min-width:450px) and (max-width:1020px){
    .mobile{
        background-image: url('images/image-header-mobile.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: 20vh;
        width: 1;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    }

.desktop{
    display: none;
}
.top{
    margin: -1.3em 0;
    padding-bottom: 1rem;
    background-color: hsl(244, 38%, 16%);
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
h1.heading{
    color: hsl(0, 0%, 100%);
    text-align: center;
    padding:1rem 1.5rem 0;
}
span{
    color: hsl(277, 64%, 61%);
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 18px;
    text-align: center;
    padding: .5rem 1.5rem;
}
.center h3{
    color: hsl(0, 0%, 100%);
    text-align: center;
    font-size: 29px;
    margin-bottom: -.6em;
}
.center p{
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
}
.attribution {
    margin-top: 3em;
    font-size: 16px; 
    text-align: center;
    color:hsla(0, 0%, 100%, 0.75) ;
 }
.attribution a {
     color: hsl(228, 45%, 44%); 
 }
}

@media (min-width:800px) and (max-width:1440px) {
    
    .body{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-areas: "content background";
        margin:10em auto 0;
        width: 80%;
    }
    .mobile{
        display: none;
    }
    
    .desktop{
        background-image: url('images/image-header-desktop.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        display: flex;
        grid-area: 'background';
        width: 100%;
        margin: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    .background{
        position: absolute;
        top: 10em;
        left:43.6em ;
        right:auto;
        opacity: 0.6;
        width: 38.6%;
        height: 48.9%;
        overflow: hidden;
        display: flex;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    @media (min-width:1360px) and (max-width:1370px) {
    
    .background{
        background-color:  hsl(244, 38%, 16%);
        background-color: hsl(277, 64%, 61%);
        position: absolute;
        top: 10em;
        left:43.6em ;
        right:auto;
        opacity: 0.6;
        width: 38.6%;
        height: 48.9%;
        overflow: hidden;
        display: flex;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}
    
    .top{
        grid-area: content;
        margin: 0  ;
        padding: 0 3em;
        width: 85%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    h1.heading {
        text-align: left;
        padding: 1rem 1.5rem 0 0;
    }
    h1,p{
        width: 80%;
        margin: 0 auto 0 0;
        padding: 1em 0 1em ;
        text-align: left;
    }
    p{
        font-family: 'Lexend Deca',sans-serif;
    }
    .stat{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .center{
        padding-bottom: 2em;
    }
    .center h3{
        margin-bottom: 0;
    }
    .center p{
        text-align: right;
        padding-top:1em ;
    }
    .attribution {
        margin-top: 2em;
        font-size: 18px; 
        text-align: right;
     }
}
@media (min-width:1366px){
    .background{
        background-color:  hsl(244, 38%, 16%);
        background-color: hsl(277, 64%, 61%);
        position: absolute;
        top: 10em;
        left:43.6em ;
        right:auto;
        opacity: 0.6;
        width: 38.6%;
        height: 48.9%;
        overflow: hidden;
        display: flex;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}