* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: poppins;
}


/*<-------------- Header starts here ------------->*/

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 18px 0;
    background-color: rgb(48, 58, 95);
    width: 100%;
}

.hygia-logo {
    width: 175px;
    height: 65px;
}

.hygialogo {
    left: 30px;
}

.hamburger {
    background-color: transparent;
    border: 0;
    font-size: 70px;
    color: #46D5B3;
    cursor: pointer;
    display: none;
}

.hamburger:focus {
    outline: none;
}

.navlinks a {
    text-decoration: none;
    padding: 0 15px;
    color: white;
    font-size: 18px;
}

.navlinks {
    padding-left: px;
}

.login {
    width: 163px;
    height: 60px;
    color: white;
    font-size: 24px;
    background-color: #46D5B3;
    border-radius: 10px;
    border: none;
}

.login:hover {
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}


/*<-------------- Hero section starts here ------------->*/

.hero-section {
    position: relative;
}

.hero-image {
    width: 100%;
}

.hero-banner {
    position: absolute;
    bottom: 240px;
    left: 180px;
    color: white;
}

.herobtn {
    width: 163px;
    height: 60px;
    color: white;
    font-size: 20px;
    background-color: #46D5B3;
    border-radius: 10px;
    border: none;
}

.herobtn:hover {
    font-size: 21px;
    font-weight: bold;
    cursor: pointer;
}

.health-text {
    font-size: 48px;
    font-weight: 400;
}

.concern-text {
    font-size: 72px;
    font-weight: 700;
}

.hero-btn {
    display: none;
}


/*<-------------- Sign up section starts here ------------->*/

.h-container {
    display: flex;
    padding: 50px;
}

.healthcare-img img {
    width: 610px;
    height: 486px;
}

.healthcare li {
    font-size: 16px;
    padding: 18px;
}

.healthcare ul {
    list-style: none;
}

.healthcare ul li::before {
    content: "\26AB";
    /* Add content: \26AB is the CSS Code/unicode for a medium bullet */
    color: #46D5B3;
    font-weight: bolder;
    display: inline-block;
    width: 1.5em;
    margin-left: -1.5em;
}

.healthcare-img {
    padding-right: 70px;
}

.healthcare h3 {
    font-size: 30px;
    color: rgba(48, 58, 95, 1);
}

.p-container {
    display: flex;
    padding: 50px;
}

.patients-img img {
    width: 610px;
    height: 486px;
}

.patients-img {
    padding-left: 70px;
}

.patients li {
    font-size: 16px;
    padding: 18px;
}

.patients ul {
    list-style: none;
}

.patients ul li::before {
    content: "\26AB";
    /* Add content: \26AB is the CSS Code/unicode for a medium bullet */
    color: #46D5B3;
    font-weight: bolder;
    display: inline-block;
    width: 1.5em;
    margin-left: -1.5em;
}

.patients h3 {
    font-size: 30px;
    color: rgba(48, 58, 95, 1);
}

.signup-button {
    color: white;
    font-size: 20px;
    background-color: #46D5B3;
    width: 475px;
    height: 60px;
    border: none;
    border-radius: 10px;
}

.signup-button:hover {
    font-weight: bold;
    cursor: pointer;
}

.sign-up img {
    padding-left: 30px;
}

.profile img {
    padding-left: 50px;
}

.appointment img {
    padding-left: 70px;
}


/*<-------------- How it works section starts here ------------->*/

span {
    padding-top: 40px;
}

.how-it-works {
    background-color: rgb(48, 58, 95);
    padding: 25px;
}

.works {
    display: flex;
    padding: 70px;
}

.how-it-works h2 {
    text-align: center;
    color: white;
    font-size: 48px;
    padding: 15px 60px 15px 5px;
}

.works {
    justify-content: space-evenly;
}

.works div h4 {
    color: #46D5B3;
    font-size: 24px;
}

.works div p {
    color: white;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
}


/*<-------------- Hero band section starts here ------------->*/

.hero-band {
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(2, 550px);
    padding: 25px 25px 40px 25px;
}

.hippa {
    display: flex;
    padding: 50px;
}

.hippa div {
    padding: 0 20px 20px 30px;
}

.hippa img {
    width: 35px;
    height: 63px;
}

.mode {
    display: flex;
    padding: 50px;
}

.mode div {
    padding: 0 25px;
}

.mode img {
    width: 63px;
    height: 55px;
}

.support img {
    width: 65px;
    height: 63px;
    position: relative;
}

.support div {
    position: absolute;
    padding: 0 0 80px 80px;
}

.secure img {
    width: 83px;
    height: 65px;
    padding-left: 15px;
}

.secure div {
    padding: 0 15px;
}

.support {
    display: flex;
    padding: 0 40px 20px 40px;
}

.secure {
    display: flex;
    padding: 50px;
    padding: 0 40px 20px 40px;
}


/*<-------------- Testimonial section starts here ------------->*/

.testimonial-banner {
    background-color: #46D5B3;
    display: flex;
    padding: 0 25px;
}

.dr-img img {
    width: 130px;
    height: 130px;
}

.dr-img {
    padding: 158px 30px;
}

.testimonial {
    padding: 0 35px;
}

.testimonial h3 {
    color: white;
    font-size: 45px;
    padding: 45px 60px 10px 60px;
}

.testimonial p {
    padding: 33px 0 5px 0;
    font-size: 17px;
}

.pre-next {
    padding: 200px 95px 200px 95px;
}

.pre-next img {
    width: 15px;
    height: 25px;
}

.pre-next img:hover {
    cursor: pointer;
}


/*<-------------- Footer starts here ------------->*/

.footer-top {
    display: flex;
    justify-content: space-evenly;
    padding: 25px 0;
}

.footer-top div a {
    text-decoration: none;
    color: rgb(48, 58, 95, 1);
    padding: 2px 0;
    font-size: 20px;
}

.footer-top div h4 {
    padding: 10px 0;
    font-size: 20px;
}

.hygia p {
    color: rgba(48, 58, 95, 1);
    padding-top: 2px;
    font-size: 20px;
}

.search {
    display: flex;
    flex-direction: column;
}

.company {
    display: flex;
    flex-direction: column;
}

.fsupport {
    display: flex;
    flex-direction: column;
}

.footer-bottom {
    background-color: rgb(48, 58, 95);
    color: white;
    padding: 34px;
    text-align: center;
    font-size: 20px;
}

@media only screen and (max-width: 1440px) {

    .hero-banner {
        position: absolute;
        bottom: 240px;
        left: 180px;
    }

    .healthcare h3 {
        padding-left: 45px;
    }

    .healthcare li {
        padding-left: 45px;
    }

    .healthcare a {
        padding-left: 45px;
    }

    .healthcare {
        padding-top: 40px;
    }

    .healthcare-img {
        padding-left: 5px;
    }

    .patients h3 {
        padding-left: 35px;
    }

    .patients li {
        padding-left: 35px;
    }

    .patients a {
        padding-left: 35px;
    }

    .patients {
        padding-top: 40px;
    }

    .patients-img {
        padding-right: 15px;
        padding-left: 10px;
    }

    .testimonial h3 {
        padding: 45px 60px 10px 300px;
    }

    .testimonial p {
        position: relative;
        padding: 33px 0 5px 309px;
        font-size: 17px;
    }

    .testimonial {
        padding: 0;
    }

    .dr-img {
        position: absolute;
        padding: 160px 240px;
    }

    .dr-img img {
        width: 160px;
        height: 135px;
    }


}

@media only screen and (max-width: 1024px) {
    .hero-image {
        position: relative;
        width: 100%;
    }

    .hero-banner {
        position: absolute;
        bottom: 140px;
        left: 125px;
    }

    .h-container {
        display: block;
    }

    .p-container {
        display: block;
    }

    .hero-band {
        padding: 25px 5px 40px 5px;
        grid-template-columns: repeat(2, 400px);
    }

    header {
        display: flex;
        width: 100%;
    }

    .navlinks {
        padding-left: 100px;
    }

    .healthcare-img {
        padding: 50px 110px;
    }

    .healthcare-img img {
        width: 710px;
        height: 586px;
    }

    .healthcare {
        padding-left: 110px;
    }

    .patients-img {
        padding: 50px 110px;
        position: relative;
    }

    .patients-img img {
        width: 710px;
        height: 586px;
    }

    .patients {
        padding-left: 120px;
        position: absolute;
        padding-top: 700px;
    }

    .p-container {
        height: 1224px;
    }

    span {
        padding-right: 40px;
    }

    .profile img {
        padding-right: 90px;
    }

    .appointment img {
        padding-right: 120px;
    }

    .sign-up img {
        padding-right: 90px;
    }

    .pre-next {
        padding: 200px 30px 200px 30px;
    }

    .dr-img {
        position: absolute;
        padding: 165px 90px;
    }

    .testimonial p {
        position: relative;
        padding: 33px 0 5px 270px;
    }
}

@media only screen and (max-width: 768px) {

    .hero-image {
        position: relative;
        width: 100%;
    }

    .hero-banner {
        position: absolute;
        bottom: 75px;
        left: 100px;
    }

    header {
        width: 100%;
        height: 100px;
        justify-content: space-around;
    }

    .navlinks {
        padding-left: 30px;
    }

    .login {
        display: none;
    }

    .hero-btn {
        display: block;
    }

    .hamburger {
        display: block;
        position: absolute;
        right: 60px;
        font-size: 50px;
    }

    .hygialogo {
        position: relative;
        padding-right: 390px;
    }

    .navlinks {
        display: none;
        position: relative;
    }

    .navlinks.show {
        position: absolute;
        display: block;
        padding-top: 70px;
        padding-left: 140px;
    }

    .navlinks a {
        padding: 10px;
        font-size: 20px;
    }

    .health-text {
        font-size: 28px;
        font-weight: 400;
    }
    
    .concern-text {
        font-size: 35px;
        font-weight: 700;
    }

    .healthcare-img {
        padding: 30px 10px;
    }

    .patients-img {
        padding: 0 10px;
    }

    .patients {
        padding-top: 550px;
        padding-left: 30px;
    }

    .healthcare {
        padding-left: 20px;
    }

    .appointment img {
        padding: 0 10px;
    }

    .healthcare-img img {
        width: 610px;
        height: 486px;
    }

    .patients-img img {
        width: 610px;
        height: 486px;
    }

    .p-container {
        height: 1100px;
    }

    .sign-up img {
        padding: 0 0 0 0;
    }

    .profile img {
        padding: 0 0 0 0;
    }

    .appointment img {
        padding: 0 0 0 0;
    }

    .works div p {
        font-size: 15px;
    }

    .works div h4 {
        font-size: 18px;
    }

    .support div {
        position: absolute;
        padding: 0 0 80px 63px;
    }

    .support div p {
        display: flex;
        flex-wrap: wrap;
    }

    .support img {
        width: 55px;
        height: 63px;
        position: relative;
    }

    .dr-img {
        position: absolute;
        padding: 95px 60px 5px 280px;
    }

    .testimonial {
        position: relative;
    }

    .testimonial p {
        padding: 150px 0 20px 0;
    }

    .testimonial h3 {
        font-size: 45px;
        padding: 25px 10px 10px 70px;
    }

    .pre-next {
        padding: 260px 70px 200px 70px;
    }

    .testimonial-banner {
        width: 768px;
    }

    .footer-top {
        width: 768px;
        justify-content: space-evenly;
    }

    .footer-top div h4 {
        font-size: 15px;
    }

    .footer-top div a {
        font-size: 15px;
    }

    .footer-top div p {
        font-size: 15px;
    }

}

@media only screen and (max-width: 725px) {
    .hamburger {
        display: block;
        position: absolute;
        padding-left: 500px;
    }

    .hero-image {
        position: relative;
        width: 100%;
    }

    .hygialogo {
        left: 30px;
    }

    .navlinks.show {
        display: block;
        padding-top: 70px;
        padding-left: 250px;
    }

    .hero-band {
        justify-content: space-around;
        display: grid;
        grid-template-columns: repeat(2, 400px);
        padding: 25px 50px;
    }
    
    .hippa {
        display: flex;
        padding: 40px;
    }
    
    .hippa img {
        display: none;
    }
    
    .mode {
        display: flex;
        padding: 40px;
    }
    
    .mode img {
        display: none;
    }
    
    .support img {
        display: none;
    }
    
    .secure img {
        display: none;
    }
    
    .support {
        display: flex;
        padding: 30px 100px 30px 0;
    }
    
    .secure {
        display: flex;
        padding: 30px;
    }

    .dr-img {
        padding: 95px 60px 5px 240px;
    }

    .testimonial {
        padding: 0 80px 0 0;
    }

    .testimonial p {
        padding: 150px 0 0 20px;
    }

    .testimonial h3 {
        font-size: 40px;
        padding: 25px 10px 10px 70px;
    }

    .pre-next {
        padding: 260px 100px 260px 10px;
    }

    .testimonial-banner {
        width: 768px;
    }

    .footer-top {
        display: grid;
        grid-template-columns: repeat(2, 250px);
        padding: 25px 5px 5px 5px;
    }

    .company {
        padding-top: 30px;
    }
}

@media only screen and (max-width: 425px) {

    header {
        width: 100%;
    }

    .hamburger {
        padding-left: 300px;
        font-size: 30px;
        right: 30px;
    }

    .hygialogo {
        left: 30px;
    }

    .hygia-logo {
        width: 110px;
        height: 50px;
    }

    .navlinks a {
        padding: 10px;
        font-size: 10px;
    }

    .navlinks.show {
        display: block;
        padding-top: 60px;
        padding-left: 55px;
    }

    .hero-image {
        width: 100%;
    }

    .hero-banner {
        position: absolute;
        bottom: 30px;
        left: 45px;
    }

    .health-text {
        font-size: 18px;
        font-weight: 400;
    }
    
    .concern-text {
        font-size: 25px;
        font-weight: 700;
    }

    .herobtn {
        width: 130px;
        height: 40px;
        color: white;
        font-size: 24px;
        background-color: #46D5B3;
        border-radius: 10px;
        border: none;
    }

    .hero-btn {
        text-align: center;
    }

    .healthcare-img img {
        display: none;
    }

    .healthcare-img {
        padding: 0;
    }

    .signup-button {
        font-size: 15px;
        width: 300px;
        height: 40px;
        border: none;
        border-radius: 10px;
    }

    .healthcare h3 {
        padding-left: 0;
    }

    .healthcare a {
        padding-left: 45px;
    }

    .healthcare li {
        padding: 5px 20px;
    }

    .patients a {
        padding-left: 45px;
    }

    .patients li {
        padding: 5px 20px;
    }

    .patients h3 {
        padding-left: 20px;
    }

    .h-container {
        width: 100%;
        height: 350px;
        padding: 0 20px;
    }

    .p-container {
        width: 100%;
        height: 350px;
        padding: 0 20px;
    }

    .patietnst-img {
        padding: 0;
    }

    .patients-img img {
        display: none;
    }

    .healthcare {
        padding: 20px 0;
    }

    .patients {
        padding: 20px 0;
    }

    .how-it-works {
        width: 100%;
    }

    .how-it-works h2 {
        font-size: 30px;
        padding: 0px;
    }

    .works {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
    }

    .works div {
        padding: 20px;
        text-align: center;
    }

    .forward {
        display: none;
    }

    .hero-band {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }

    .hippa {
        padding: 20px 40px 10px 40px;
    }

    .mode {
        padding: 0 40px 20px 40px;
    }

    .support {
        width: 425px;
        height: 130px;
        display: flex;
        padding: 0 40px;
    }

    .support div {
        height: 189px;
        padding: 0 25px;
    }

    .secure {
        display: flex;
        padding: 0 50px 20px 50px;
    }

    .testimonial-banner {
        width: 100%;
    }

    .testimonial {
        padding: 0;
    }

    .testimonial h3 {
        font-size: 30px;
        text-align: center;
        padding: 20px;
    }

    .testimonial p {
        text-align: center;
        padding: 10px 20px 40px 20px;
    }

    .dr-img {
        display: none;
    }

    .pre-next {
        padding: 160px 10px 160px 10px;
    }

    .footer-top {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
    }

    .company {
        padding-top: 10px;
    }
}

@media only screen and (max-width: 414px) {
    .hamburger {
        right: 30px;
        font-size: 30px;
    }

    .h-container {
        height: 405px;
    }

}

@media only screen and (max-width: 375px) {

    .hamburger {
        right: 30px;
        font-size: 30px;
    }

    .h-container {
        height: 380px;
    }

    .healthcare h3 {
        padding-left: 20px;
    }

    .healthcare a {
        padding-left: 15px;
    }

    .patients a {
        padding-left: 15px;
    }

    .support div {
        padding: 0 25px;
    }

    .footer-top {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: left;
        padding-left: 40px;
    }
}

@media only screen and (max-width: 360px) {
    .h-container {
        height: 405px;
    }

    .hamburger {
        font-size: 30px;
    }
}

@media only screen and (max-width: 320px) {

    .hamburger {
        right: 30px;
    }

    .hygialogo {
        left: 60px;
    }

    .signup-button {
        font-size: 14px;
        width: 260px;
    }

    .h-container {
        height: 470px;
    }

    .p-container {
        height: 420px;
    }
}
