body{
  margin: 0;
  overflow-y: scroll;
  font-family: 'Noto Sans JP', sans-serif;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  background: #101;
}
.top{
  width: 100%;
}
  /* Navbar */
nav{
  padding: 1em 1em ;
  width: 100%;
 }

.container-fluid{
  height: 3.2rem;
}
#logo{
  width: 5rem;
  margin-left: -1em;
}
.navbar-light .navbar-toggler{
  border: none!important;
  color:transparent;
}
button:focus:not(:focus-visible){
  outline: none;
}
.navbar-toggler{
  height: 3.5rem;
  border: none;
  
}
.navbar-toggler-icon{
  height: 2.5rem;
  width:2.5rem;
}
#navbarTogglerDemo02{
  z-index: 999;
  position: fixed;
  top: 11%;
  left: 0;
  background-color:  white ;
  opacity: 0.95;
  padding: 1rem;
  width: 100%;
  height: 70vh;
  text-align: center;
  text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link.active{
  color:  rgb(26, 25, 25);
}
.horizontal-rule{
  margin-top: 0;
}
#home-hr{
  height: 3px;
}
button#btn-link{
  margin: 2em auto;
  padding:.5em 1em ;
  background:  #0000ffb3;
  border: none;
  width: 20rem;
}
button#btn-link a{
  color: white;
  font-weight: bolder;
}
.menu{
  display: none;
}
a{
  text-decoration: none;
  color:  rgb(26, 25, 25);
  padding-left: .5em;
  font-weight: bolder;
}
a:hover{
  color:#10101a;
  text-decoration: underline;
}

  /*main content */
h1{
  text-align: center;
  padding:3rem 1rem .1rem .6rem;
  font-size:28px; 
  color: #08080e;
}
 p{
  margin:0 auto;
  width: 90%;
  font-size: 19px;
  line-height: 1.5;
  font-weight: normal;
  opacity: .8;
  font-family: 'Segoe UI', Tahoma, sans-serif;
}
textarea{
  width: 16rem;
  border-radius: 10px;
}
.about-you{
  background-color: #fff;
  margin:1.8em 0.6em;
  padding: 1em;
  border-radius: 10px;
}
span{
  color: #10101a;
}
label{
  padding-top: .5em;
  padding-bottom: .5em;
}

button[type=submit]:hover{
  background: #10101a;
}
#right{
  display: none;
}
.footer-links{
  display: flex;
  justify-content: space-between;
  width: 15rem;
  margin:0 auto;
  padding-bottom: 1rem;
}


@media (min-width:760px) and (max-width:991px) {
  .navbar-toggler{
    display:none;
  }

  /* Navbar menu links */
  .menu{
    margin-top: -3em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: 7em;
  }
  .menu a{
    font-size: 18px;
  }
   button#btn-link{
    margin: .2em 0;
    padding:.5em .3em ;
    border: none;
    width: 15rem;
  }
  form{
    width: 90%;
    margin: 0 auto;
  }
}


@media (min-width:800px) and (max-width:970px) {
  #logo{
   width: 5rem;
   margin-left: -1.5em;
 }
  }

@media (min-width:992px) {
  body{
    overflow-x: hidden;
  }
  .top{
    height: 100vh;
  }
  /* Navbar */
  #logo{
    width: 6rem;
  }
  .navbar-toggler{
    display: none;
  }
  #navbarTogglerDemo02{
    display: none!important;
  }
  .drop{
    display: none;
  }
  .menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .menu a{
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
  }
  .menu a:hover{
    color:#101;
    font-size: 21px;
    text-decoration: underline;
  }
  .menu a:active{
    text-decoration: underline;
  }
  button#btn-link{
    margin: .2em 0;
    padding:.5em .5em ;
    border: none;
    width: 12rem;
  }
  
  /*main content */
  .container{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    height: 100vh;
  }
   .contentt-left{
    background-image: url('images/contact.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 30%;
    width: 60%;
  } 
  
  .contentt-right{
    position: relative;
    width: 50%;
    margin: 0 -10em 0 2em;
    padding: 1rem  1rem 1rem;
  }
  .contentt-right > p{
    margin: 0 2em;
  }
  
  h1{
    padding:0 1rem .1rem .6rem;
    font-size:35px; 
    text-align: center;
  }
  h3{
    padding-top: 0;
  }
  .contentt p{
    line-height:1.5 ;
  }
  
  .about-you{
    margin:.8em 0.6em;
    padding: 1em 2em;
  }
  .info{
    display:grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
  }
  .info > div{
    width: 10rem;
  }
  .form-control{
    width: 10rem;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #101;
    padding:.5em .5em ;
  }
  #email{
    width: 25rem;
  }
  
  label{
    padding-top: .5em;
    padding-bottom: .2em;
    padding-left: 0;
    font-weight: 550;
    margin-top: .5em;
  }
  
  textarea.form-control{
    display: block;
    width: 25rem!important;
    margin:0 0 1em;
    min-height: calc(1em + .75rem + 2px);

  }
  button[type=button]{
    padding:.5em 1em ;
    border: none;
    color: whitesmoke;
    border-radius: 10px;
    margin: .7em 0;
  }
  
} 

@media (min-width:1500px) {
  .container{
    margin-right: 0 auto;
  }
  .contentt-right{
    width: 45%;
    padding: 1rem  1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    height: 40%;
    align-content: center;
    padding:45rem 0 ;
  }
  h1{
    margin-left: 1em;
  }
}
@media (min-width:2500px) {
  .container{
    margin-right: 0 auto;
  }
  .contentt-left{
    width: 200%;
  }
  .contentt-right{
    width: 45%;
    padding: 1rem  1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    height: 40%;
    align-content: center;
    padding:45rem 0 ;
    margin-right: 0;
  }
  h1{
    margin-left: 1em;
  }
}

  
  
  
