/* General styles */

*{
    box-sizing: border-box;
    margin: 0;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: hsl(218, 28%, 13%);
}

section.light{
    background-color: hsl(217, 28%, 15%);
    width: 100%;
}
a{
    text-decoration: none;
}
button,a{
    cursor: pointer;
}
h1,.bold, form button,.attribution a {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
/* Nav styles */
nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
    text-align: center; 
    padding: 2rem 1rem;
    font-family: 'Raleway', sans-serif;
}
nav img{
    width: 30%;
}

nav ul{
    display: flex;
    justify-content: space-between;
    width: 60%;
    list-style-type: none;
}

/* hero-section styles */
.hero-section{
    margin-top: 2em;
    position: relative;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: 400;
}
.intro-image{
    position: absolute;
    width: 70%;
    margin: 0 auto;
    z-index: 101;
}
.curve-mobile{
    position: relative;
    z-index: 1;
    margin-top: 12em;
    width: 100%;
    height: 90%;
}
.curve-desktop{
    display: none;
}
.text{
    position: absolute;
    top: 25em;
    z-index: 9999;
    width: 100%;
    text-align: center;
    line-height: 1.3;
    padding: 1rem 1.5rem;
    margin: 0 auto;
}
.text p{
    width: 90%;
    line-height: 1.5;
    margin: .6em auto;
    font-size: 18px;
}
.text button{
    padding: 1rem 1rem;
    width: 17rem;
    border-radius:30px;
    border: none;
    margin-top: 1.6em;
    background: linear-gradient(to right,hsl(176, 68%, 64%), hsl(198, 60%, 50%));
}

/* Info section */
.info{
    position: relative;
    top: 25em;
    background-color: hsl(218, 28%, 13%);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-items: center;
    align-items: center;
}
.info > div {
    width: 85%;
    margin: 3em auto;
}
.bold{
    font-size: 23px;
    margin: 1em auto .5em;
}

/* Operations section  */
.operations{
    position: relative;
    top: 34em;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.left img{
    width: 70%;
    margin: 0 auto 2em;
}
.right{
    width: 90%;
    margin: 1em auto;
}
.right p{
    text-align: left;
    margin: 1em auto;
    width: 90%;
}
.action{
    color: #62e0d9;
    width: 45%!important;
    margin: 1em auto 1em 1.4em!important;
    border-bottom: 1px solid #62e0d9;
}

/* Testimonials section  */
.testimonials{
    position: relative;
    top: 42em;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem 1.5rem;
}
#quotes{
   width: 2rem;
   position: absolute;
   top: .4em;
   left: 3.3em;
   z-index: 1;
}
.testimonials > div{
    background-color: hsl(219, 30%, 18%);
    margin: 1em auto;
    width: 90%;
    padding: 2rem 1.5rem;
    line-height: 1.5;
    z-index: 999;
    border-radius: 15px;
    font-weight: lighter;
}
.testimonials > div p{
    margin-bottom: 1.8em;
    font-size: 15px;
}
.profile{
    width: 2.5rem;
    border-radius: 50%;
    float: left;
    margin-right: .5em;
}
.testimonials > div h5{
    letter-spacing: 1.4px;
}
.rank{
    margin: 0!important;
    font-size: 13px!important;
}
/* Early-access section */
#early-access{
    position: relative;
    top: 47em;
    z-index: 999;
    background-color: hsl(217, 28%, 15%);
    box-shadow: 3px 3px 2px #131a24;
    padding: 1.5rem;
    width: 90%;
    margin: 0 auto;
    border-radius: 15px;
    text-align: center;
    font-size: 17px;
    line-height: 1.5;
}
#early-access .p{
    width: 93%;
    margin: 1.2em auto ;
}

input, form button{
    border-radius: 30px;
    border: none;
    padding:1.3rem 1.5rem ;
    
}
input{
    width: 80%;
    margin: 1em auto;
}
form button{
    width: 80%;
    margin: 1em auto;
    background: linear-gradient(to right,hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    font-size: 16px;
    cursor: pointer;
}

/* Footer section */
footer{
    position: absolute;
    top: 248em;
    background-color: hsl(216, 53%, 9%);
    width: 100%;
}
.footer{
    padding: 1.5rem;
    margin: 19em auto 2em;
    width: 90%;
    line-height: 1.5;
    font-size: 20px;
}
.footer > div {
    margin: 1.5em auto;
}
.footer > div > div {
    margin: 1em auto;
}
.footer > div img{
    float: left;
    margin-right: .8em;
    margin-top: .3em;
}
address{
    font-style: normal;
    margin-left: 1.6em;
}
.contact,.about-us{
    margin-bottom: 2.5em!important;
}
.about-us p,.contact-us p{
    margin-bottom: .7em;
}
.social-media-icons{
    text-align: center;
}
.social-media-icons svg{
    margin-left: .1em;
    margin-right: .1em;
}

/* attribution styles */
.attribution { 
    font-size: 14px; 
    text-align: center; 
    padding: 0 0 1rem;
}
.attribution a { 
        color: cyan; 
}

@media (min-width:768px){
    nav{
        padding:2rem 1.5rem;
    }
    nav img{
        width: 15%;
    }
    nav ul{
        width: 30%;
        margin-right: 1em;
    }

    .text{
        width: 40%;
        margin: 2em auto 0;
    }
    .intro-image{
        width: 40%;
    }
    .curve-mobile{
        display: none;
    }
    .curve-desktop{
        display: flex;
        margin-top: 30em;
        overflow-x: hidden;
        width: 100%;
    }

    /* Info section */
    .info{
        position: relative;
        top: -2em;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .info > div {
        width: 40%;
        margin: 2em auto;
    }

    /* Operations section  */
    .operations{
        position: relative;
        top: 10em;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: auto auto;
        padding: 0 2rem;
    }
    .left img{
        width: 100%;
        
    }
    .right{
        width: 80%;
    }
    .right h1{
        width: 60%;
        text-align: left;
    }
    .right p{
        width: 100%;
    }
    .right .action{
        width: 100%;
        margin: 0!important;
    }

    /* Testimonials section  */
    .testimonials{
        position: relative;
        top: 16em;
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 0 2rem;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    #quotes{
        position: absolute;
        top: -.4em;
        left: 3em;
     }

     /* Early-access section */
    #early-access{
        position: relative;
        top: 22em;
        width: 60%;
        margin: 0 auto;
    }
    form{
        display: flex;
        flex-wrap: wrap;
        width: 90%;
    }
    input{
        width: 60%;
        margin: 1em auto;
    }
    form button{
        width: 100%;
        margin: 1em auto;
    }
    input, form button{
        padding:.8rem 1rem ;
    }

    /* Footer section */
    footer{
        position: absolute;
        top: 158em;
        
    }
    .foot{
        display: grid;
        grid-template-columns: 35% 20% 15% 15% 15% ;
        width: 100%;
        font-size: 18px;
    }
    .footer > div > div {
        margin: 0 ;
    }
    #phone {
        margin-bottom: .5em;
    }
    
}