@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;900&display=swap');  
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.6;
  padding: 0 6rem;
  font-family: 'Mulish', sans-serif;
  color: #484858;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #484858;
}

/* Nav */

header {
    width: 100%;
    height: 16vh;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
  left: 0;
  top: 0;
  margin-top: 40px;
  width: 100%;
  z-index: 1;
}

nav img{
  width: 15%;
}
#navLinks{
    display: flex;
    justify-content: space-between;
    transition: 0.3s;
}
#navLinks a{
    font-size: 0.95rem;
    letter-spacing: 2px;
    text-align: center;
    text-transform: capitalize;
}

.nav-item{
    margin: 1.5rem;
  }
.hamburger{
    display: none;
  
}

/* Main section  */
main{
    font-size: 15px;
}
main h2{
    text-align: center;
    padding-bottom: 1rem;
}
h3,span{
    font-weight: bold;
    opacity: 0.7;
}
main > div{
    margin-bottom: 2em;
}
main a{
    font-weight: bold;
}
span{
    font-weight: 550;
}


/* footer */
footer{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}
footer section:first-child input{
    border: 1px solid #818195;
    padding: 14px 10px;
    outline: none; 
    font-size: 14px;
    font-weight: normal;
    width: 250px;
    border-radius: 3px 0px 0px 3px;
}
footer a{
    font-weight: normal;
}
footer .nav-footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

/* footer .subs{
    width: 33.3%;
    text-align: center;
    padding-bottom: 1rem;
}
.email-btn{
    margin-top: -40px;
}
footer section:first-child div.email-btn{
    display: flex;
    justify-content: center;
}
 */

#bottom-mobile{
    display: none;
}

@media (max-width:900px){
    .desktop-com{
        display: none;
    }
}
