body{
    background-color: #000;
    padding: 50px 0;
    overflow: hidden;
}
.wrapper{
    background-image: url("./bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 45%;
    height: 70vh;
    margin: 0 auto;
    padding: 50px;
}
.body{
    background-image: url("./bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-shadow:0 0 10px #413525;
    box-shadow: 0 0 10px #413525;
    width: 60%;
    height: 65vh;
    margin: 0 auto;
    border: 2px solid white;
    text-align: center;
    padding-top: 2rem;
    color: white;
}
h2{
    font-size: 2rem;
}
h1{
    font-size: 7rem;
    margin: 0;
    color: #008000;
}
button{
    background-color: #0d2c54;
    color: white;
    display: block;
    width: 8rem;
    margin: 1.2em auto;
    padding: .5rem 0;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #4a3d2b;
}